1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [18]:
size=100
str1="mickymouse"
str2="mouse"
str3="micky"
mult1=3
mult2=5
for num in range(size+1):
    if (num % mult1 == 0 and num % mult2 == 0 ):
        print(str1)
    elif (num % mult2 == 0):
        print(str2)
    elif (num % mult1 == 0 ): 
        print(str3)
    else :
        print(num)

mickymouse
1
2
micky
4
mouse
micky
7
8
micky
mouse
11
micky
13
14
mickymouse
16
17
micky
19
mouse
micky
22
23
micky
mouse
26
micky
28
29
mickymouse
31
32
micky
34
mouse
micky
37
38
micky
mouse
41
micky
43
44
mickymouse
46
47
micky
49
mouse
micky
52
53
micky
mouse
56
micky
58
59
mickymouse
61
62
micky
64
mouse
micky
67
68
micky
mouse
71
micky
73
74
mickymouse
76
77
micky
79
mouse
micky
82
83
micky
mouse
86
micky
88
89
mickymouse
91
92
micky
94
mouse
micky
97
98
micky
mouse

In [19]:

str1="mickymouse"
str2="mouse"
str3="micky"
mult1=3
mult2=5
out=[]
for num in range(size+1):
    if (num % mult1 == 0 and num % mult2 == 0 ):
        out.append(str1)
    elif (num % mult2 == 0):
        out.append(str2)
    elif (num % mult1 == 0 ): 
        out.append(str3)
    else :
        out.append(num)

#print(out) 
newout=[]
for array in out:
    if (array=="micky"):
#         newout.append(array.replace("micky","donald"))
        newout.append("donald")
        
    elif (array=="mouse"):
#         newout.append(array.replace("mouse","duck"))
        newout.append("duck")
        
    else :
        newout.append(array)
        
print(newout)

['mickymouse', 1, 2, 'donald', 4, 'duck', 'donald', 7, 8, 'donald', 'duck', 11, 'donald', 13, 14, 'mickymouse', 16, 17, 'donald', 19, 'duck', 'donald', 22, 23, 'donald', 'duck', 26, 'donald', 28, 29, 'mickymouse', 31, 32, 'donald', 34, 'duck', 'donald', 37, 38, 'donald', 'duck', 41, 'donald', 43, 44, 'mickymouse', 46, 47, 'donald', 49, 'duck', 'donald', 52, 53, 'donald', 'duck', 56, 'donald', 58, 59, 'mickymouse', 61, 62, 'donald', 64, 'duck', 'donald', 67, 68, 'donald', 'duck', 71, 'donald', 73, 74, 'mickymouse', 76, 77, 'donald', 79, 'duck', 'donald', 82, 83, 'donald', 'duck', 86, 'donald', 88, 89, 'mickymouse', 91, 92, 'donald', 94, 'duck', 'donald', 97, 98, 'donald', 'duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [16]:
#the swap function

def swap(x,y):
    x,y=y,x
    return(x,y)

  
swap(2,1)

(1, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
#computing the distance/def

import math
def distance(a,b):
    "a,b are 2D inputs(x,y)"
    result=math.sqrt(((a[0]-b[0])**2)+((a[1]-b[1])**2))
    return(result)
distance((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [3]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"




character_occurs= {}

for i in s:
    
    if i.lower() in character_occurs:
        
        character_occurs[i.lower()] += 1
    else:
        
        character_occurs[i.lower()] = 1
        
print(character_occurs)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [14]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

a=list(set(A)) #set just have unique numbers!
print("isolating unique:",a)

isolating unique: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [13]:

def square(x):
    result=x**2
    return(result)
def cube(y):
    result=y**3
    return(result)
def power(z):
    result=cube(square(z))
    return(result)
print("square of x:",square(2),'\n')
print("cube of x:",cube(2),'\n')
print("power of x:",power(2),'\n')

square of x: 4

cube of x: 8

power of x: 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
#cube(a)

size=10
A=[]
for x in range(size+1):
    A.append(x**3)
print("for loop:",A,'\n')

#cube(b)

A=[0,1,2,3,4,5,6,7,8,9,10]
size=10
A=range(0,size+1)
B=[x**3 for x in A]
print("list comprehension:",B)

for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
#Pythagorean triple

size=100
cnt=1
pythagorean_triples=()
list_of_tuple=[]
for a in range(1,size+1):
    for b in range(a,size+1):
        for c in range(b,size+1):
            if (c*c==a*a+b*b):
                print("Pythagorean triples",cnt,":",(a,b,c),)
                pythagorean_triples=pythagorean_triples+(a,b,c)
                list_of_tuple.append((a,b,c))
                cnt+=1
            c+=1
        b+=1
    a+=1
    
#print(pythagorean_triples)
print('\n',"my result is in list of tuple:",'\n',list_of_tuple)

Pythagorean triples 1 : (3, 4, 5)
Pythagorean triples 2 : (5, 12, 13)
Pythagorean triples 3 : (6, 8, 10)
Pythagorean triples 4 : (7, 24, 25)
Pythagorean triples 5 : (8, 15, 17)
Pythagorean triples 6 : (9, 12, 15)
Pythagorean triples 7 : (9, 40, 41)
Pythagorean triples 8 : (10, 24, 26)
Pythagorean triples 9 : (11, 60, 61)
Pythagorean triples 10 : (12, 16, 20)
Pythagorean triples 11 : (12, 35, 37)
Pythagorean triples 12 : (13, 84, 85)
Pythagorean triples 13 : (14, 48, 50)
Pythagorean triples 14 : (15, 20, 25)
Pythagorean triples 15 : (15, 36, 39)
Pythagorean triples 16 : (16, 30, 34)
Pythagorean triples 17 : (16, 63, 65)
Pythagorean triples 18 : (18, 24, 30)
Pythagorean triples 19 : (18, 80, 82)
Pythagorean triples 20 : (20, 21, 29)
Pythagorean triples 21 : (20, 48, 52)
Pythagorean triples 22 : (21, 28, 35)
Pythagorean triples 23 : (21, 72, 75)
Pythagorean triples 24 : (24, 32, 40)
Pythagorean triples 25 : (24, 45, 51)
Pythagorean triples 26 : (24, 70, 74)
Pythagorean triples 27 : (25, 60, 65)
Pythagorean triples 28 : (27, 36, 45)
Pythagorean triples 29 : (28, 45, 53)
Pythagorean triples 30 : (28, 96, 100)
Pythagorean triples 31 : (30, 40, 50)
Pythagorean triples 32 : (30, 72, 78)
Pythagorean triples 33 : (32, 60, 68)
Pythagorean triples 34 : (33, 44, 55)
Pythagorean triples 35 : (33, 56, 65)
Pythagorean triples 36 : (35, 84, 91)
Pythagorean triples 37 : (36, 48, 60)
Pythagorean triples 38 : (36, 77, 85)
Pythagorean triples 39 : (39, 52, 65)
Pythagorean triples 40 : (39, 80, 89)
Pythagorean triples 41 : (40, 42, 58)
Pythagorean triples 42 : (40, 75, 85)
Pythagorean triples 43 : (42, 56, 70)
Pythagorean triples 44 : (45, 60, 75)
Pythagorean triples 45 : (48, 55, 73)
Pythagorean triples 46 : (48, 64, 80)
Pythagorean triples 47 : (51, 68, 85)
Pythagorean triples 48 : (54, 72, 90)
Pythagorean triples 49 : (57, 76, 95)
Pythagorean triples 50 : (60, 63, 87)
Pythagorean triples 51 : (60, 80, 100)
Pythagorean triples 52 : (65, 72, 97)

 my result is in list of tuple:
 [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [1]:
#Normalization
def norm(input_tuple):
    max_num=max(input_tuple)
    output_tuple = [i/max_num for i in input_tuple]
    return output_tuple

inp_tuple =(1,2,3,4,5,6)
print("normalized to one:",'\n',norm(inp_tuple))

normalized to one:
 [0.16666666666666666, 0.3333333333333333, 0.5, 0.6666666666666666, 0.8333333333333334, 1.0]