1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
num=[]
for i in range (1,101):
    if(i%3==0 and i%5==0):
        num.append("MickeyMouse")
    elif(i%3==0):
        num.append("Mickey")
    elif(i%5==0):
        num.append("Mouse")
    else:
        num.append(i)

j=0
while(j<len(num)):
    if(num[j]=="Mickey"):
        num[j]="Donald"
    elif(num[j]=="Mouse"):
        num[j]="Duck"
    j+=1

tupla=()
k=0
while(k<len(num)):
    tupla= tupla + (num[k],)
    k+=1
print(tupla)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [1]:
def swap(x,y):
    x,y=y,x
    return print(x,y)

swap("ciao",100)

100 ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
from numpy import sqrt

def distance(u,v):
    return sqrt((u[0] -v[0])**2 + (u[1]-v[1])**2)
u=(3,0)
v=(0,4)
print(distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [8]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

import string
alph_string = string.ascii_lowercase
alph=list(alph_string)

def count(s,alphabet): 
    i=j=0
    s = s.lower()
    while(i<len(s)):
        if(s[i]==alphabet):
            j+=1
        i+=1
    return j
k=0
c={}
while(k<len(alph)):
    a = count(s,alph[k])
    if a!=0: c[alph[k]] = a
    k+=1
print(c)

{'a': 7, 'b': 5, 'c': 3, 'd': 3, 'e': 22, 'f': 10, 'g': 1, 'h': 9, 'i': 14, 'k': 2, 'l': 6, 'm': 12, 'n': 10, 'o': 13, 'p': 8, 'r': 17, 's': 9, 't': 19, 'u': 9, 'v': 2, 'w': 2, 'y': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [13]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(n):
    flag = False
    u = []
    for i in range(0,len(n)):
        flag=False

        for j in range(0,len(n)):
            if(n[i]==n[j] and i!=j):            
                flag=True
        
        if(flag==False):
            #print("%d Ã¨ unico" %n[i])
            u.append(n[i])
    u.sort()
    return u
print(unique(l))

[1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def sqrd(x):
    return x**2
def thrd(x):
    return x**3
def six(x):
    return x*sqrd(x)*thrd(x)
x=2
print(six(x))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [14]:
#for loop
c1=[]
for i in range(10):
    c1.append(i**3)
print(c1)

#list comprehension
c2=[x**3 for x in range(10)]
print(c2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [15]:
a = [i for i in range(1,100)]

terne=[(i,j,k) for i in a for j in a for k in a if(i<j<k and i**2 + j**2 == k**2)]
terne2=[]

for t in terne:
    div=2
    flag=True

    while(flag and div<t[0]/2):
        if(t[0]%div==0 and t[1]%div==0):
            terne2.append(t)
            flag=False
        div+=1

terneprime=[i for i in terne if i not in terne2]

print(terneprime)
print(len(terneprime))

[(3, 4, 5), (5, 12, 13), (7, 24, 25), (8, 15, 17), (9, 40, 41), (11, 60, 61), (12, 35, 37), (13, 84, 85), (16, 63, 65), (20, 21, 29), (28, 45, 53), (33, 56, 65), (36, 77, 85), (39, 80, 89), (48, 55, 73), (65, 72, 97)]
16

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [ ]:
#I developed 2 tipes of normalization because I didn't know what norm the ex referred to
import numpy as np
tupla = (1,-1,-5,-8)
"""norma 1"""
def norm(t):
    n=0
    for i in t:
        n += np.abs(i)
    t = t/n
    return t 

"""norma 2"""
def norm2(t):
    n=0
    for i in t:
        n += i**2
    t = t / np.sqrt(n)
    return t

print(norm(tupla))
print(norm2(tupla))