1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [150]:
#a) print i

for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
         i="MickeyMouse"
    elif (i % 3) == 0:
        i="Mickey"
    elif (i % 5) == 0:
        i="Mouse"
   
    print(i)

MickeyMouse
1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [151]:
#b) make a tuple and put the rezult of 1.a in it

List= []
for i in range(101):
    if i%3 == 0 and i%5 == 0:
        List.insert(i, "MickeyMouse")
    elif i%5 == 0:
        List.insert(i, "Mickey")
    elif i%3 == 0:
        List.insert(i, "Mouse")
    else:
         List.insert(i, i)

Tuple1 = tuple(List)
print(Tuple1)

#substitution of words

for i in range (0, len(List)):
    if List[i] == "Mickey":
        List[i] = "Donald"
    elif List[i] == "Mouse":
        List[i] = "Duck"
    elif List[i] == "MickeyMouse":
        List[i] = "DonaldDuck"
        
Tuple2 = tuple(List)
print(Tuple2)

('MickeyMouse', 1, 2, 'Mouse', 4, 'Mickey', 'Mouse', 7, 8, 'Mouse', 'Mickey', 11, 'Mouse', 13, 14, 'MickeyMouse', 16, 17, 'Mouse', 19, 'Mickey', 'Mouse', 22, 23, 'Mouse', 'Mickey', 26, 'Mouse', 28, 29, 'MickeyMouse', 31, 32, 'Mouse', 34, 'Mickey', 'Mouse', 37, 38, 'Mouse', 'Mickey', 41, 'Mouse', 43, 44, 'MickeyMouse', 46, 47, 'Mouse', 49, 'Mickey', 'Mouse', 52, 53, 'Mouse', 'Mickey', 56, 'Mouse', 58, 59, 'MickeyMouse', 61, 62, 'Mouse', 64, 'Mickey', 'Mouse', 67, 68, 'Mouse', 'Mickey', 71, 'Mouse', 73, 74, 'MickeyMouse', 76, 77, 'Mouse', 79, 'Mickey', 'Mouse', 82, 83, 'Mouse', 'Mickey', 86, 'Mouse', 88, 89, 'MickeyMouse', 91, 92, 'Mouse', 94, 'Mickey', 'Mouse', 97, 98, 'Mouse', 'Mickey')
('DonaldDuck', 1, 2, 'Duck', 4, 'Donald', 'Duck', 7, 8, 'Duck', 'Donald', 11, 'Duck', 13, 14, 'DonaldDuck', 16, 17, 'Duck', 19, 'Donald', 'Duck', 22, 23, 'Duck', 'Donald', 26, 'Duck', 28, 29, 'DonaldDuck', 31, 32, 'Duck', 34, 'Donald', 'Duck', 37, 38, 'Duck', 'Donald', 41, 'Duck', 43, 44, 'DonaldDuck', 46, 47, 'Duck', 49, 'Donald', 'Duck', 52, 53, 'Duck', 'Donald', 56, 'Duck', 58, 59, 'DonaldDuck', 61, 62, 'Duck', 64, 'Donald', 'Duck', 67, 68, 'Duck', 'Donald', 71, 'Duck', 73, 74, 'DonaldDuck', 76, 77, 'Duck', 79, 'Donald', 'Duck', 82, 83, 'Duck', 'Donald', 86, 'Duck', 88, 89, 'DonaldDuck', 91, 92, 'Duck', 94, 'Donald', 'Duck', 97, 98, 'Duck', 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [118]:
#write a swap function

def Swep_Function(x,y):
    return (y,x)
Swep_Function(2,3)

(3, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [148]:
#Computing the euclidean distance and import the library

import math

def Dist_Func(u,v):
    result = math.sqrt(pow(u[0] - v[0],2) + pow(u[1] - v[1],2))
    return result
u = (3,0)
v = (0,4)
Dist_Func(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [185]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

# turn all characters of s into lower case
s_new = s.lower()

#create a list of all alphabet letters
Alph = "abcdefghijklmnopqrstuvwxyz"

#find the repetition of each letter and print them
for i in Alph:
    print (i,s.count(i))

a 7
b 4
c 3
d 3
e 22
f 9
g 1
h 9
i 14
j 0
k 2
l 6
m 8
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 1
x 0
y 2
z 0

5. Isolating the unique

Write a function that determines and count the unique numbers in the list l

In [16]:
a_list = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def Unique_Func(a_list):
    a_set = set(a_list) # convert the list to a set of unique values

number_of_unique_values = len(a_set)

print("Unique Numbers: ", a_set)
print('Number of Unique Values:',number_of_unique_values)

Unique Numbers:  {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Number of Unique Values: 54

6. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [76]:
#function that returns the square of numbers

def Square_Func(a):
    result1 = pow (a ,2)
    return result1
a = 2
Square_Func(a)

4

In [37]:
#function that returns the cube of numbers

def Cube_Func(b):
    result2 = pow (b ,3)
    return result2
b = 3
Cube_Func(b)

27

In [38]:
#function that returns the 6th power of numbers

def Sixth_Power_Func(x):
    result3 = pow (x ,6)
    return result3
x = 4
Sixth_Power_Func(x)

4096

In [39]:
#function that returns the 6th power of numbers using previous functions

def Sixth_Power_Func(x):
    result3 = Cube_Func(Square_Func(x))
    return result3

print(Sixth_Power_Func(4))

4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [78]:
#a)using a for loop

x = []
for i in range(10):
    x.append(pow(i,3))
    print(x[i])

0
1
8
27
64
125
216
343
512
729

In [75]:
#b)using a list comprehension

y = [pow(i,3) for i in range(10)]

print(y)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [137]:
import math

Pythagorean_Triples = []

for a in range(101):
    for b in range(1,a):
        for c in range(1,101):
            if math.sqrt(pow(a,2) + pow(b,2)) == c:
                Pythagorean_Triples.append((a,b,c))
               
Pythagorean_Triples = tuple(Pythagorean_Triples)
print(Pythagorean_Triples)

((4, 3, 5), (8, 6, 10), (12, 5, 13), (12, 9, 15), (15, 8, 17), (16, 12, 20), (20, 15, 25), (21, 20, 29), (24, 7, 25), (24, 10, 26), (24, 18, 30), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (42, 40, 58), (44, 33, 55), (45, 24, 51), (45, 28, 53), (48, 14, 50), (48, 20, 52), (48, 36, 60), (52, 39, 65), (55, 48, 73), (56, 33, 65), (56, 42, 70), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (63, 16, 65), (63, 60, 87), (64, 48, 80), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [153]:
def Norm_Func(x):
    List_Norm = []
    for i in range(len(x)):
        List_Norm.append(i/max(x))
    return tuple(List_Norm)

Norm_Func((1,2,2))

(0.0, 0.5, 1.0)