1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
disney = []
number = [x for x in range(1,101)]
for i in number:  
    if i%3 == 0 and i%5 == 0 :
        print("MickeyMouse")
        disney.append("MickeyMouse")
    elif i%5 == 0:
        print("Mouse")
        disney.append("Duck")
    elif i%3 == 0: 
        print("Mickey")
        disney.append("Donald")
    else:
        print(i)
        disney.append(i)
        
print(disney)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
x = input("Inserire valore x = ")
y = input("Inserire valore y = ")

def myfunc():
  global x,y
  temp = x
  x = y
  y = temp

myfunc()

print("x = " + x)
print("y = " + y)

"""Oppure 
def swap (x,y)
    return y,x

"""

Inserire valore x = 2
Inserire valore y = 7
x = 7
y = 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [10]:
u = (3,0)
v = (0,4)

def eucdis(a=u[0],b=u[1],c=v[0],d=v[1]):
    dis = (c-a)**2+(d-b)**2
    eucdis = (dis)**0.5
    return eucdis

eucdis(3,0,0,4)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [11]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
from collections import Counter
count = Counter(s.lower())
print(count)

Counter({' ': 41, 'e': 22, 't': 19, 'r': 17, 'i': 14, 'o': 13, 'm': 12, 'n': 10, 'f': 10, 'h': 9, 's': 9, 'u': 9, 'p': 8, 'a': 7, 'l': 6, 'b': 5, 'c': 3, 'd': 3, 'w': 2, '1': 2, '0': 2, '.': 2, 'k': 2, 'y': 2, 'v': 2, 'g': 1})

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [12]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
"""A Counter is a dict subclass for counting hashable objects. 
It is a collection where elements are stored as dictionary keys and their counts are stored as dictionary values. 
Counts are allowed to be any integer value including zero or negative counts. 
The Counter class is similar to bags or multisets in other languages."""

from collections import Counter
count = Counter(l)
count = dict(count)#count represents dictionary. Converting formally into a dictionary.
#print(count)
#print(count.items())
unici=[]
for key,value in count.items():
     if value==1:
            unici.append(key)
print("Unique numbers: ",unici)

Unique numbers:  [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [13]:
x = input("Insert the number: ")
r = float(x)  
def sq (r):
    return(r**2) 
def cu (r):
    return(r**3)
def six (r):
    return(sq(cu(r)))
six(r)
#print("The six power of x is = " + six(x))

Insert the number: 2

64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [18]:
cb = []
for i in range(0,10): cb.append(i**3)
print(cb)
    
cube = [n**3 for n in range(10)]
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [112]:
pyt = []
pytriple = [(a,b,c) for a in range(1,100) for b in range(a,100) for c in range(b,100) if a**2 + b**2 == c**2 ]

for a in range(2,100):
    for i in range(0,len(pytriple)):
        if pytriple[i][0] % a == 0 and pytriple[i][1] % a == 0 and pytriple[i][2] % a == 0:
            pyt.append(pytriple[i])

#print(pytriple) 
#print(pyt)            

resultantList = []
 
for element in pytriple:
    if element not in pyt:
        resultantList.append(element)

print(resultantList)

[(3, 4, 5), (5, 12, 13), (7, 24, 25), (8, 15, 17), (9, 40, 41), (11, 60, 61), (12, 35, 37), (13, 84, 85), (16, 63, 65), (20, 21, 29), (28, 45, 53), (33, 56, 65), (36, 77, 85), (39, 80, 89), (48, 55, 73), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [66]:
import math
tn = [1,2,3]
def norm(tup):
    sq = [x**2 for x in tup]
    norma = sum(sq)**0.5
    nm = [y/norma for y in tup]
    print(nm)
norm(tn)

[0.2672612419124244, 0.5345224838248488, 0.8017837257372732]