1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [14]:
a = [x for x in range(1,101)]
for i in range(1,101):
    if i%3==0 and i%5!=0: 
        print("Mickey")
        a.remove(i)
        a.insert(i-1,"Mickey")
    elif i%5==0 and i%3!=0: 
        print("Mouse")
        a.remove(i)
        a.insert(i-1,"Mouse")
    elif i%5==0 and i%3==0: 
        print("MickeyMouse")
        a.remove(i)
        a.insert(i-1,"MickeyMouse")
    else: print(i)
#print(a)
print("\n")
for i in range(0,100):
    if a[i]=="Mickey":
        a.remove(a[i])
        a.insert(i,"Donald")
    elif a[i]=="Mouse":
        a.remove(a[i])
        a.insert(i,"Duck")
    elif a[i]=="MickeyMouse":
        a.remove(a[i])
        a.insert(i,"DonaldDuck")
print(a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse


[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
x=input("Inserisci x:")
y=input("Inserisci y:")
def scambia(a,b):
    temp=a
    a=b
    b=temp
    return a,b
def scambia2(a,b):
    return b,a
x,y=scambia(x,y)
print(x,y)
x,y=scambia2(x,y)
print(x,y)

Inserisci x:a
Inserisci y:ciao
ciao a
a ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math
u = (input("ux:"),input("uy:"))
v = (input("vx:"),input("vy:"))
#u[0]=input("ux:")
#u[1]=input("uy:")
#v[0]=input("vx:")
#v[1]=input("vy:")

def distance(a,b):
    m = (math.pow(float(a[0])-float(b[0]),2)+math.pow(float(a[1])-float(b[1]),2))
    return math.sqrt(m)
print("Distance:",distance(u,v))

ux:3
uy:0
vx:0
vy:4
Distance: 5.0

#### 4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [53]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
print("Message: ", s, "\n")
char = [str(x) for x in s.lower()]  #creates a list of the characters in lowercase
#print(char)
count = [[]]               #creates a tab with [char,count]
count[0] = [str(char[0]),1]#sets the first character of the strings with a counter of 1
for i in range(1,len(char)): #selects each character of the string
    check=0                    #checks if the character has already been found, initialazied to 0 
    check_len = len(count)     #gets the lenght of the counter list (rows)
    for j in range(0,check_len):    #selects each character already found
        if count[j][0] == char[i]:    #if the characters are the same increase the counter for that character
            check=1
            count[j][1] += 1
            #print(count[j])
    if check == 0:                    #if no correspondance has been found, add a row with the new char and set the counter to 1
            k=len(count)
            count.append([str(char[i]),1])
            #print(char[i])
            #count[k][0]=char[i]
            #count[k][1]=1

#print(count)
for j in range(0,len(count)): print("Character: ",count[j][0],"    count: ",count[j][1])

Message:  Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

Character:  w     count:  2
Character:  r     count:  17
Character:  i     count:  14
Character:  t     count:  19
Character:  e     count:  22
Character:        count:  41
Character:  a     count:  7
Character:  p     count:  8
Character:  o     count:  13
Character:  g     count:  1
Character:  m     count:  12
Character:  h     count:  9
Character:  n     count:  10
Character:  s     count:  9
Character:  u     count:  9
Character:  b     count:  5
Character:  f     count:  10
Character:  1     count:  2
Character:  0     count:  2
Character:  .     count:  2
Character:  l     count:  6
Character:  c     count:  3
Character:  k     count:  2
Character:  y     count:  2
Character:  d     count:  3
Character:  v     count:  2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [30]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique = []
n_unique = []

for val in l:
    check = 0
    for un in unique:
        if val == un:
            n_unique.append(val)
            unique.remove(val)
            check = 1
    for n_un in n_unique:
        if val == n_un:
            check = 1
    if check == 0:
        unique.append(val)

print(unique)
print(n_unique)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
[45, 85, 63, 70, 56, 84, 36, 42, 91, 50, 31, 66, 3, 34, 51, 20, 89]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
import math
def square(x):
    return math.pow(x,2)

def cube(x):
    return math.pow(x,3)

def f():
    y = input("Num:")
    x = float(y)
    return square(x) * cube(x) * x
print(f())

Num:23.5
168425239.515625

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [3]:
cubes = [pow(x,3) for x in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [28]:
import math

def primitive():
    pyt = []
    for i in range(1,100):
        for j in range(i+1,100):
            check = 0
            if (i%2 != 0 and j%2 != 0):
                check = 1
            else:
                for k in range (2,i+1):
                    if (i%k == 0 and j%k == 0):
                        check = 1
            if check == 0:
                a = int(pow(j,2) - pow(i,2))
                b = int(2 * i * j)
                c = int(pow(j,2) + pow(i,2))
                if c < 100:
                    pyt.append([min(a,b),max(a,b),c])
    print(pyt)
    
def all_pyt():
    pyt = []
    for i in range(1,100):
        for j in range(i+1,100):
            check = 0
            if (i%2 != 0 and j%2 != 0):
                check = 1
            else:
                for k in range (2,i+1):
                    if (i%k == 0 and j%k == 0):
                        check = 1
            if check == 0:
                for k in range(1,100):
                    a = k*(int(pow(j,2) - pow(i,2)))
                    b = k*(int(2 * i * j))
                    c = k*(int(pow(j,2) + pow(i,2)))
                    if c < 100:
                        pyt.append([min(a,b),max(a,b),c])
    print(pyt)
    
primitive()
all_pyt()

[[3, 4, 5], [8, 15, 17], [12, 35, 37], [16, 63, 65], [5, 12, 13], [20, 21, 29], [28, 45, 53], [36, 77, 85], [7, 24, 25], [48, 55, 73], [9, 40, 41], [33, 56, 65], [65, 72, 97], [11, 60, 61], [39, 80, 89], [13, 84, 85]]
[[3, 4, 5], [6, 8, 10], [9, 12, 15], [12, 16, 20], [15, 20, 25], [18, 24, 30], [21, 28, 35], [24, 32, 40], [27, 36, 45], [30, 40, 50], [33, 44, 55], [36, 48, 60], [39, 52, 65], [42, 56, 70], [45, 60, 75], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [8, 15, 17], [16, 30, 34], [24, 45, 51], [32, 60, 68], [40, 75, 85], [12, 35, 37], [24, 70, 74], [16, 63, 65], [5, 12, 13], [10, 24, 26], [15, 36, 39], [20, 48, 52], [25, 60, 65], [30, 72, 78], [35, 84, 91], [20, 21, 29], [40, 42, 58], [60, 63, 87], [28, 45, 53], [36, 77, 85], [7, 24, 25], [14, 48, 50], [21, 72, 75], [48, 55, 73], [9, 40, 41], [18, 80, 82], [33, 56, 65], [65, 72, 97], [11, 60, 61], [39, 80, 89], [13, 84, 85]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [23]:
#Solution using tuples (4 elements)
import math
t = (float(input("t1:")),float(input("t2:")),float(input("t3:")),float(input("t4:")))
print(t)
def norm(t):
    return t[0]/t[0],t[1]/t[1],t[2]/t[2],t[3]/t[3]
def norm1(t):
    norm = math.sqrt(pow(t[0],2)+pow(t[1],2)+pow(t[2],2)+pow(t[3],2))
    return t[0]/norm,t[1]/norm,t[2]/norm,t[3]/norm
a = norm(t)
print("Tuple with entries 1: ",a)
b = norm1(t)
print("Tuple normalized: ",b)

t1:1
t2:2
t3:3
t4:4
(1.0, 2.0, 3.0, 4.0)
Tuple with entries 1:  (1.0, 1.0, 1.0, 1.0)
Tuple normalized:  (0.18257418583505536, 0.3651483716701107, 0.5477225575051661, 0.7302967433402214)

In [37]:
#More general solution using lists
import math
r=int(input("Insert vector dimension:"))
t=[float(input("")) for x in range(r)]
print(t)
def norm(q,r):
    t=[]
    for i in range(r): t.append(q[i]/q[i])
    return t
def norm1(w,r):
    norm=0
    l=[]
    for i in range(r): norm += pow(w[i],2)
    norm1 = math.sqrt(norm)
    for i in range(r): l.append(w[i]/norm1)
    return l
print(norm(t,r))
#print("Vector with entries 1: ",a)
b = norm1(t,r)
print("Vector t normalized: ",b)

Insert vector dimension:4
1
2
3
4
[1.0, 2.0, 3.0, 4.0]
[1.0, 1.0, 1.0, 1.0]
Vector t normalized:  [0.18257418583505536, 0.3651483716701107, 0.5477225575051661, 0.7302967433402214]