1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse



b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [33]:
l=list()
#a
for i in range(1,101):  
    if i%3==0 and i%5!=0:
        print(i,'Mickey')
        l+= ['Mickey',]
    elif i%5==0 and i%3!=0:
        print(i,'Mouse')
        l+= ['Mouse',]
    elif i%3==0 and i%5==0:
        print(i,'Mickey''Mouse')
        l+= ['Mickey' 'Mouse',]
    else:
        l+=[i,]
        print(i)
#b
for i in range(0,100):
    if l[i]=='Mickey':
        l[i]=l[i].replace('Mickey','Donald')
    elif l[i]=='Mouse':
        l[i]=l[i].replace('Mouse','Duck')

print(tuple(l))

1
2
3 Mickey
4
5 Mouse
6 Mickey
7
8
9 Mickey
10 Mouse
11
12 Mickey
13
14
15 MickeyMouse
16
17
18 Mickey
19
20 Mouse
21 Mickey
22
23
24 Mickey
25 Mouse
26
27 Mickey
28
29
30 MickeyMouse
31
32
33 Mickey
34
35 Mouse
36 Mickey
37
38
39 Mickey
40 Mouse
41
42 Mickey
43
44
45 MickeyMouse
46
47
48 Mickey
49
50 Mouse
51 Mickey
52
53
54 Mickey
55 Mouse
56
57 Mickey
58
59
60 MickeyMouse
61
62
63 Mickey
64
65 Mouse
66 Mickey
67
68
69 Mickey
70 Mouse
71
72 Mickey
73
74
75 MickeyMouse
76
77
78 Mickey
79
80 Mouse
81 Mickey
82
83
84 Mickey
85 Mouse
86
87 Mickey
88
89
90 MickeyMouse
91
92
93 Mickey
94
95 Mouse
96 Mickey
97
98
99 Mickey
100 Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [41]:

def swap_function(x,y):
    r=(y,x)
    return r
swap_function('1','2')

('2', '1')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [44]:
import math
def euclidean_distance(u,v):
    d=math.sqrt(pow(u[0]-v[0],2)+pow(u[1]-v[1],2))
    return d
euclidean_distance((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [49]:
import string
alfabeto=list(string.ascii_lowercase)
l=len(alfabeto)
for i in range(1,l):
    n=s.count(alfabeto[i])
    print(alfabeto[i],n)
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

b 4
c 3
d 3
e 22
f 9
g 1
h 9
i 14
j 0
k 2
l 6
m 8
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 1
x 0
y 2
z 0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [67]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def determines_count(x):
    g=0
    for i in range(0,len(x)):
        f=l.count(x[i])
        if f==1:
            print(x[i])
            g+=1
    print('quantity of unique numbers:',g)
            
determines_count(l)

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53
quantity of unique numbers 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [2]:
def square_function(x):
    z=pow(x,2)
    return z
def cube_function(x):
    z=pow(x,3)
    return z
def sixth_power_f(x):
    z=cube_function(square_function(x))
    return z
sixth_power_f(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [6]:
for i in range(0,11):
    print(i,'cubes:',pow(i,3))

cubes=[pow(n,3) for n in range(11)]
print(cubes)

0 cubes: 0
1 cubes: 1
2 cubes: 8
3 cubes: 27
4 cubes: 64
5 cubes: 125
6 cubes: 216
7 cubes: 343
8 cubes: 512
9 cubes: 729
10 cubes: 1000
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
triple=[(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2+b**2==c**2]

print(tuple(triple))

((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [20]:
def normalization(x):
    nor=[float(i)/sum(x) for i in x]
    return nor
y=(0.07, 0.14, 0.07)
normalization(y)

[0.25, 0.5, 0.25]