1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
import numpy as np

In [75]:
#a
l=[]
for i in range(100): 
    if i%3==0: 
        if i%5==0: l.append("MickeyMouse")
        else: l.append("Mickey")
    elif i%5==0: l.append("Mouse")   
    else: l.append(i)
    print(l[i])
t=tuple(l)

for i in range(len(l)):
    if l[i]=='Mickey': l[i]='Donald'
    elif l[i]=='Mouse': l[i]='Duck'
    elif l[i]=='MickeyMouse': l[i]='DonaldDuck'
t=tuple(l)

('DonaldDuck',
 1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'DonaldDuck',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'DonaldDuck',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'DonaldDuck',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'DonaldDuck',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'DonaldDuck',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'DonaldDuck',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [59]:
a=3; b=5
def g(x,y):
    return y,x
a,b= g(a,b)
print(a,b)

5 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [76]:
def distance(u,v):
    d=0
    for i in range(len(u)):
        d+=(u[i]-v[i])**2
    return d**0.5

u=(3,0); v=(0,4)
print(distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [77]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [84]:
s=s.lower()
d={}
for element in s:
    if element not in d: d[element]=1
    else: d[element]+=1
    
d

{'w': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [28]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [35]:
def unique(l):
    counter=[]; u=[]
    for i in range(max(l)):
        a=0
        for j in range(len(l)):
            if l[j]==i: a+=1
        counter.append(a)
        if a==0: u.append(i)
    return u, len(u)  

numbers, count = unique(l)
print(numbers, count)

[0, 2, 4, 6, 7, 11, 12, 13, 14, 15, 17, 21, 22, 23, 25, 26, 27, 28, 29, 32, 35, 38, 40, 43, 44, 46, 48, 49, 52, 59, 60, 61, 62, 65, 67, 68, 69, 71, 73, 76, 77, 78, 80, 83, 93, 97] 46

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [38]:
def square(x):
    return x**2
def cube(x):
    return x**3

def sixthpow(x):
    return cube(square(x))

print(sixthpow(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [42]:

a=[]
for i in range(10):
    a.append(cube(i))
    
b=[cube(x) for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [87]:
x=[]
for a in range(100):
    for b in range(100):
        for c in range (100):
            if (square(a)+square(b)-square(c))==0:
                x.append((a,b,c))
#with a nested list comprehension
y=[ (a,b,c) for a in range(100) for b in range(100) for c in range(100) if (square(a)+square(b)-square(c))==0]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [94]:
def norm(x):
    n=0
    temp=[]
    for i in range(len(x)): n+=square(x[i]) ; 
    for i in range(len(x)): temp.append(x[i]/n)
    return tuple(temp)

x=(1,1)
norm(x)

(0.5, 0.5)