## Exercises 00 -  Carmen Mart√≠n Turrero

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
# 1a

MMlist = []

for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        MMlist.append("MickeyMouse")
    elif i%3 == 0:
        MMlist.append("Mickey")
    elif i%5 == 0:
        MMlist.append("Mouse")
    else:
        MMlist.append(i)

print(MMlist)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [2]:
# 1b

MMtuple = tuple(MMlist)

print("The tuple with Mickey, Mouse and MickeyMouse:", MMtuple)

# We can't change Mickey by Donald nor Mouse by Duck because it is a tuple. 

# We can change it using a list:

DDlist = list(MMtuple)
for i in range(len(MMlist)):
    if MMlist[i] == "Mickey":
        DDlist[i] = "Donald"
    elif MMlist[i] == "Mouse":
        DDlist[i] = "Duck"
DDtuple = tuple(DDlist)

print()
print("The tuple with Donald, Duck and MickeyMouse:",DDtuple)

The tuple with Mickey, Mouse and MickeyMouse: (1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')

The tuple with Donald, Duck and MickeyMouse: (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
# We define the function by using an extra variable as help.

def swap1(x,y):
    z = x
    x = y
    y = z
    return x, y

# We try if it works
a = 2
b = 3

print(swap1(a,b))

(3, 2)

In [4]:
# Another way:

def swap2(x,y):
    u = (x,y)
    x = u[1]
    y = u[0]
    return x,y
  
# Lets try if it works
a = 2
b = 3
    
print(swap2(a,b))

(3, 2)

In [5]:
# Now we define the function without using the extra variable.

def swap3(x,y):
    x, y = y, x
    return x,y

# Lets try if it works
a = 2
b = 3

print(swap3(a,b))

(3, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [6]:
# We define a function that calculates the euclidean distance

def distance(u,v):
    dist = pow((u[0]-v[0])**2 + (u[1]-v[1])**2,1/2)
    return dist

u = (3,7)
v = (2,4)

print("The distance between {} and {} is {}.".format(u, v, round(distance(u,v),2)))

The distance between (3, 7) and (2, 4) is 3.16.

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [7]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
characters = [x for x in s]

Counter = {}
type(Counter)

for i in range(len(characters)):
    k = 0
    for j in range(len(characters)):
        if characters[i] == characters[j]:
            k = k + 1
        else:
            k = k
    Counter[characters[i]] = k

for key in Counter:
    print(key, ' : ', Counter[key])

w  :  2
r  :  17
i  :  14
t  :  19
e  :  22
   :  41
a  :  7
p  :  8
o  :  13
g  :  1
m  :  12
h  :  9
n  :  10
s  :  9
u  :  9
b  :  5
f  :  10
1  :  2
0  :  2
.  :  2
l  :  6
c  :  3
k  :  2
y  :  2
d  :  3
v  :  2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [8]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


#We want to determine the unique numbers
uniques = []
k = 0
for i in range(len(l)):
    for j in range(len(l)):
        if l[i] == l[j] and i != j:
            k = 1 
    if k == 0:
        uniques.append(l[i])
    else:
        k=0
        
b = len(uniques)    

print("There are",b, "unique numbers, which are:", uniques)

There are 37 unique numbers, which are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
# Function that returns square:

def square(x):
    return x**2

#Function that returns cube:

def cube(x):
    return x**3

#Function that combines both (x**6):

def sixth(x):
    return cube(square(x))

#Test

a = 3
a2 = square(a)
a3 = cube(a)
a6 = sixth(a)
print(a, a2, a3, a6)

3 9 27 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
# a) List of cubes from 0 to 10 using a for loop:
cubes = []
for i in range(11):
    cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
# b) List of cubes from 0 to 10 using a list comprehension:
cubes = [x**3 for x in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
Triples = []
for a in range(101):
    for b in range(a+1, 101):
        for c in range(b+1, 101):
            if a**2 + b**2 == c**2:
                Triples.append((a, b, c))

print("Pythagorean triples below 100:", Triples)

#Now we want to find the unique triples, this is the primitive ones (MCD = 1):
unique_triples = []

def euclide(a, b):
    while(b != 0):
        a, b = b, a%b
    return a

for i in Triples:
    if euclide(i[0],euclide(i[1],i[2])) == 1:
        unique_triples.append(i)

print()
print("Pythagorean unique triples below 100:", unique_triples)

Pythagorean triples below 100: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

Pythagorean unique triples below 100: [(3, 4, 5), (5, 12, 13), (7, 24, 25), (8, 15, 17), (9, 40, 41), (11, 60, 61), (12, 35, 37), (13, 84, 85), (16, 63, 65), (20, 21, 29), (28, 45, 53), (33, 56, 65), (36, 77, 85), (39, 80, 89), (48, 55, 73), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
#We define a function to normalize a given tuple of numbers:
def normalize(u):
    k = 0
    norm = []
    for i in range(len(u)):
        k += u[i]**2
    for i in range(len(u)):
        norm.append(u[i]/(k**(1/2)))
    return tuple(norm)

# Test
v = (3,0,0,4,0)
normalize(v)

(0.6, 0.0, 0.0, 0.8, 0.0)