1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [10]:
t=[]

for i in range(1,101): 
    if i % 3 == 0:
        print("Mickey")
        t.insert(i-1, "Donald")
    elif i % 5 == 0:
        print("Mouse")
        t.insert(i-1, "Duck")
    else:
        print(i)
        t.insert(i-1, i)
        
t=tuple(t)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
a = 2
b = "Gianni"


def swapTemporary(x, y):
    temp = x
    x = y
    y = temp
    return x, y

a,b = swapTemporary(a,b)
print("\na value after swapping:", a)
print("\nb value after swapping:", b, "\n")

a value after swapping: Gianni

b value after swapping: 2

In [3]:
a = 7
b = "Babbuino"

def swap(w, z):
    w, z = z, w
    return w, z

a,b = swap(a,b)
print("\na value after swapping:", a)
print("\nb value after swapping:", b)

a value after swapping: Babbuino

b value after swapping: 7

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
import math
u=(3,0)
v=(1,4)

def Euclide(x,y):
    d = u[0]*v[0]+u[1]*v[1]
    return math.sqrt(d)

dist = Euclide(u,v)
print("Distance:%.2f" % dist)

Distance:1.73

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [11]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"


def countstr(string):
    dictionary = {}
    string = string.lower()
    
    for char in string:
        if char in dictionary:
           dictionary[char] += 1
        else:
           dictionary[char] = 1
    return(dictionary)

a = countstr(s)
for i in a: print("Character", i, "occours", a[i], "times")

Character w occours 2 times
Character r occours 17 times
Character i occours 14 times
Character t occours 19 times
Character e occours 22 times
Character   occours 41 times
Character a occours 7 times
Character p occours 8 times
Character o occours 13 times
Character g occours 1 times
Character m occours 12 times
Character h occours 9 times
Character n occours 10 times
Character s occours 9 times
Character u occours 9 times
Character b occours 5 times
Character f occours 10 times
Character 1 occours 2 times
Character 0 occours 2 times
Character . occours 2 times
Character l occours 6 times
Character c occours 3 times
Character k occours 2 times
Character y occours 2 times
Character d occours 3 times
Character v occours 2 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [37]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

from collections import Counter
K = Counter(l).keys()
V = Counter(l).values()
zipped = dict(zip(K,V))

unique = [i for i in zipped if zipped[i] == 1]
print("The unique numbers in the list l are:", unique)

The unique numbers in the list l are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [12]:
def square(x):
    return(x**2)

def cube(x):
    return(x**3)

def expsix(x):
    return square(cube(x))

a=5
print("Square:",square(a))
print("Cube:", cube(a))
print("6th power:" ,expsix(a))

Square: 25
Cube: 125
6th power: 15625

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [16]:
l2=[]
for x in range(0,11):
    l2.append(x**3)
print(l2)

l1=[x**3 for x in range(0,11)]
print(l1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [2]:
triple = tuple([x,y,z] for x in range(1,101) for y in range(1,101)
    for z in range(1,101) if x*x + y*y == z*z)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [42]:
import math
def normalization(vector):
    lenght = math.sqrt(sum([x**2 for x in vector]))
    normVector = tuple([x/lenght for x in vector]) 
    
    return normVector

#v = (0, 3, 4, 9, 0, 0, 2, 5)
#print(normalization(v))


#l = math.sqrt(sum([x**2 for x in normalization(v)]))
#print("\n" ,l)