1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [9]:
#a)

for i in range(1,101):
    if i%15 == 0:
        print("MickeyMouse")
    elif i%3 == 0:
        print("Mickey")
    elif i%5==0:
        print("Mouse")
    else:
        print(i)
        
#b)

list_temp = []
for i in range(1,101):
    if i%15 == 0:
        list_temp.append("DonaldDuck")
    elif i%3 == 0:
        list_temp.append("Donald")
    elif i%5==0:
        list_temp.append("Duck")
    else:
        list_temp.append(i)

t = tuple( list_temp )

print(t)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [31]:
def swap (x,y):
    return y, x
    
a=2
b=(1,2,3)

print ("a = ", a , " , ", "b = ", b )

a,b = swap(a,b)

print ("a = ", a, " , ", "b = " , b )

a =  2  ,  b =  (1, 2, 3)
a =  (1, 2, 3)  ,  b =  2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [43]:
def func(p1 , p2):
    try:
        return ( pow( (p1[0] - p2[0])**2 + (p1[1] - p2[1])**2 , 0.5) )

    except:
        print("Non valid input, restart")
        
u = (5,0)
v = (0,12)

print("Euclidean Distance = " , func(u,v))

Euclidean Distance =  13.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [21]:
s = "Niente male Python"
print("Analyzing the string -> " , s , "\n")
char=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
for i in range(len(char)):
    print("Number of ", char[i] , " = " , s.lower().count(char[i]) )

Analyzing the string ->  Niente male Python

Number of  a  =  1
Number of  b  =  0
Number of  c  =  0
Number of  d  =  0
Number of  e  =  3
Number of  f  =  0
Number of  g  =  0
Number of  h  =  1
Number of  i  =  1
Number of  j  =  0
Number of  k  =  0
Number of  l  =  1
Number of  m  =  1
Number of  n  =  3
Number of  o  =  1
Number of  p  =  1
Number of  q  =  0
Number of  r  =  0
Number of  s  =  0
Number of  t  =  2
Number of  u  =  0
Number of  v  =  0
Number of  w  =  0
Number of  x  =  0
Number of  y  =  1
Number of  z  =  0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [30]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(lista):
    n_uni=0
    for i in range(len(lista)):
        if (l.count(lista[i]) == 1):
            print("Number ", lista[i], "is unique")
            n_uni+=1
    return n_uni
        
print("Analyzing the list \n" , l , "\n" )       
print ("Number of unique numbers = " , unique(l))

Analyzing the list
 [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Number  58 is unique
Number  74 is unique
Number  96 is unique
Number  64 is unique
Number  10 is unique
Number  24 is unique
Number  19 is unique
Number  33 is unique
Number  86 is unique
Number  99 is unique
Number  18 is unique
Number  47 is unique
Number  88 is unique
Number  55 is unique
Number  54 is unique
Number  8 is unique
Number  79 is unique
Number  81 is unique
Number  57 is unique
Number  37 is unique
Number  1 is unique
Number  9 is unique
Number  95 is unique
Number  90 is unique
Number  98 is unique
Number  39 is unique
Number  16 is unique
Number  82 is unique
Number  92 is unique
Number  41 is unique
Number  30 is unique
Number  94 is unique
Number  5 is unique
Number  72 is unique
Number  87 is unique
Number  75 is unique
Number  53 is unique
Number of unique numbers =  37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [1]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixth(x):
    return (cube(square(x)))

y=3

print("Given Number = ", y)
print("The square of ", y , "is = " , square(y))
print("The cube of ", y , "is = " , cube(y))
print("The 6th power of ", y , "is = " , sixth(y))

Given Number =  3
The square of  3 is =  9
The cube of  3 is =  27
The 6th power of  3 is =  729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [3]:
#a)
l_cubes=[]
for x in range(11):
    l_cubes.append(x**3)
print("cubes -> ", l_cubes)

#b)
l_cubes2 = [x**3 for x in range(11)]
print ("cubes -> " , l_cubes2)

cubes ->  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
cubes ->  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [14]:
n_max=100

list_temp = [(a,b,c) for a in range(1,n_max)
                     for b in range(a+1,n_max)
                     for c in range(b+1, n_max)
                     if (a**2 + b**2 == c**2)]

t = tuple(list_temp)

print("Pitagorean Triples (a,b,c) that a^2 + b^2 = c^2   where a,b,c <= 100 \n" , t)

Pitagorean Triples (a,b,c) that a^2 + b^2 = c^2   where a,b,c <= 100
 ((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [15]:
def normalize (t):
    norm_t=[]
    sum_t=0
    for i in range(len(t)):
        sum_t+=t[i]
    for i in range(len(t)):
        norm_t.append((t[i]/sum_t))
    return norm_t

tupla = (1,2,3,4)
print(normalize(tupla))

[0.1, 0.2, 0.3, 0.4]