1. The MickeyMouse problem


a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [4]:
mmouse = []
for u in range(1,101):
    if u%3 == 0 and u%5!=0:
        mmouse.append('Mickey')
    elif u%3 != 0 and u%5==0:
        mmouse.append('Mouse')
    elif u%3 == 0 and u%5==0:
        mmouse.append('MickeyMouse')
    else: mmouse.append(u)

print(mmouse)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [5]:
# Put the result in a tuple
tup_mmouse = tuple(mmouse)

In [10]:
# substitute Mickey with Donald and Mouse with Duck
dduck = []
for m in tup_mmouse:
    if m == 'Mickey':
        dduck.append('Donald')
    elif m == 'Mouse':
        dduck.append('Duck')
    elif m == 'MickeyMouse':
        dduck.append('DonaldDuck')
    else: dduck.append(m)
print(dduck)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

In [19]:
import pandas as pd
dduck = pd.DataFrame(data={'x':mmouse} )
dduck[dduck['x']=='Mickey'] = 'Donald'
dduck[dduck['x']=='Mouse'] = 'Duck'
dduck[dduck['x']=='MickeyMouse'] = 'DonaldDuck'
print(dduck.x)

0          1
1          2
2     Donald
3          4
4       Duck
       ...
95    Donald
96        97
97        98
98    Donald
99      Duck
Name: x, Length: 100, dtype: object

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [68]:
def swap (a,b):
    return b,a

l=0
m=9
print(swap(l,m))

(9, 0)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [30]:
#two dimensions
def twodim_distance(u,v):
    return ((u[0]-v[0])**2+(u[1]-v[1])**2)**0.5
u=(3,0)
v=(0,4)
twodim_distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [39]:
def chars_count(string):
    count = {}
    for s in string:
        s = s.lower()
        if s in count:
            count[s] += 1
        else:
            count[s] = 1
    return count

teststring = 'AaBaBBbpuzzola'
chars_count(teststring)

{'a': 4, 'b': 4, 'p': 1, 'u': 1, 'z': 2, 'o': 1, 'l': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [41]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [48]:
def unique_count(x):
    """
    Returns a set with the unique elements in the 
    given list and how many they are
    """
    return set(x), len(set(x))

u, count = unique_count(l)
print('unique values', *u)
print('how many unique values there are', count)

unique values 1 3 5 8 9 10 16 18 19 20 24 30 31 33 34 36 37 39 41 42 45 47 50 51 53 54 55 56 57 58 63 64 66 70 72 74 75 79 81 82 84 85 86 87 88 89 90 91 92 94 95 96 98 99
how many unique values there are 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [52]:
def square (x):
    return x**2
def cube (x):
    return x**3
def sixthpower(x):
    return square(cube (x))

u = 2
print(square (u))
print(cube (u))
print(sixthpower(u))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [57]:
#for loop
cubes = []
for x in range(0,11):
    cubes.append(cube(x))
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [59]:
#list comprehension
cubesbis = [cube(x) for x in range(0,11)]
print(cubesbis)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
pita = [(a,b,c) for a in range (1,101) for b in range (1,101) for c in range (1,101) if a**2 + b**2 == c**2]
pita = tuple (pita)
print(pita)

((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [64]:
def normalization (x):
    norm = sum(x)
    normalized = [u / norm for u in x]
    return normalized

x = [1,2,3,4]
print(normalization (x))
print('sum', sum(normalization (x)))

[0.1, 0.2, 0.3, 0.4]
sum 1.0