1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [59]:
for i in range(1,101): 
    if i %3==0 and i %5!=0:
        print("Mickey")
    if i %5==0 and i %3!=0:
        print("Mouse")
    if i %3 ==0 and i %5 ==0 :
        print("MickeyMouse")
    else:
        print(i)

1
2
Mickey
3
4
Mouse
5
Mickey
6
7
8
Mickey
9
Mouse
10
11
Mickey
12
13
14
MickeyMouse
16
17
Mickey
18
19
Mouse
20
Mickey
21
22
23
Mickey
24
Mouse
25
26
Mickey
27
28
29
MickeyMouse
31
32
Mickey
33
34
Mouse
35
Mickey
36
37
38
Mickey
39
Mouse
40
41
Mickey
42
43
44
MickeyMouse
46
47
Mickey
48
49
Mouse
50
Mickey
51
52
53
Mickey
54
Mouse
55
56
Mickey
57
58
59
MickeyMouse
61
62
Mickey
63
64
Mouse
65
Mickey
66
67
68
Mickey
69
Mouse
70
71
Mickey
72
73
74
MickeyMouse
76
77
Mickey
78
79
Mouse
80
Mickey
81
82
83
Mickey
84
Mouse
85
86
Mickey
87
88
89
MickeyMouse
91
92
Mickey
93
94
Mouse
95
Mickey
96
97
98
Mickey
99
Mouse
100

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [17]:
x =4
y=2


x = x + y
y = x - y
x = x - y

print(x,y)

2 4

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [23]:
v = (0,4)
u = (3,0)

def distance_calculator(u, v):
    diff_1=u[0]-v[0]
    diff_2=u[1]-v[1]
    distance= diff_1*diff_1 + diff_2*diff_2
    print(distance**0.5)
    

distance_calculator(u, v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [52]:
count = 0;
for char in enumerate(s): 
    if char[1]=="S" or char[1]=="s":
        #print(char)
        count= count+1; 
print(count)

9

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [55]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_list(list):
    Set = set(list)
    return Set
u_list=unique_list(l)

print("input length = ", len(l), ", number unique = ", len(u_list))

input length =  80 , number unique =  54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [58]:
def sq_num(number):
    return number**2
def cube_num(number):
    return number**3
def sixth_num(number):
    return cube_num(sq_num(number))
#test 

print("2^2", sq_num(2))
print("2^3", cube_num(2))
print("2^6", sixth_num(2))

2^2 4
2^3 8
2^6 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [63]:
n=[0,10]
a_cubes=[]
b_cubes=[]

for i in range(0, len(n)): 
    a_cubes.append(n[i]**3) 

for i in n:
    b_cubes.append(i**3)

print(a_cubes, b_cubes)

[0, 1000] [0, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [19]:
a=0
b=0
int_list=[]
u_int_list=[]
int_tuple= ()
print('start')
for a in range(1,100):
    a_sq= a*a
    for b in range(1,100):
        if (b==1):
            int_list.append([a,b,c])
            break
        b_sq= b*b
        c_sq= a_sq+b_sq
        c=c_sq**0.5
        if c.is_integer()
         print (a, ",", b, ',', c)
         int_list.append([a,b,c])
        
        if c>100:
            break
        b+=1
    a+=1

for x in range(0, len(int_list)):
    for y in range(0, len(int_list)):
        if (int_list[y][0]==int_list[y][0]) 
        
print(int_list[0])

start
[1, 1, 5.0]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one