1\. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

In [1]:
name_tuple = ()
for x in range(1, 101):
    result = ""
    if not x % 3:
        result += "Mickey"
    if not x % 5:
        result += "Mouse"
    if not result:
        result += str(x)
    name_tuple += (result,)
    print(result)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
# We use a list here, as the tuple has unmodifiable elements by definition.
duck_list = list(name_tuple)
length = len(duck_list)
for i in range(length):
    duck_list[i] = duck_list[i].replace("Mickey", "Donald")
    duck_list[i] = duck_list[i].replace("Mouse", "Duck")
print(*duck_list, sep="\n")

1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
DonaldDuck
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
DonaldDuck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
DonaldDuck
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
DonaldDuck
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
# With temp
def swap_with_temp(x, y):
    temp = x
    x = y
    y = temp


# Without temp
def swap_without_temp(x, y):
    x, y = y, x

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
def euclidean_distance(p1, p2):
    d2 = 0
    for u, v in zip(p1, p2):
        d2 += (u - v) ** 2
    return d2 ** 0.5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"


def char_count_and_print(string):
    char_codes = {}
    string = string.lower()
    for c in string:
        if c not in char_codes:
            char_codes[c] = 1
        else:
            char_codes[c] += 1
    for key, value in char_codes.items():
        print("'", key, "'", ":", value, end="\n")


char_count_and_print(s)

' w ' : 2
' r ' : 17
' i ' : 14
' t ' : 19
' e ' : 22
'   ' : 41
' a ' : 7
' p ' : 8
' o ' : 13
' g ' : 1
' m ' : 12
' h ' : 9
' n ' : 10
' s ' : 9
' u ' : 9
' b ' : 5
' f ' : 10
' 1 ' : 2
' 0 ' : 2
' . ' : 2
' l ' : 6
' c ' : 3
' k ' : 2
' y ' : 2
' d ' : 3
' v ' : 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def list_count_unique_and_print(num_list):
    num_codes = {}
    for x in num_list:
        if x not in num_codes:
            num_codes[x] = 1
    print("Unique number count:", len(num_codes))
    print("Unique numbers:")
    print(*num_codes, sep=", ")


list_count_unique_and_print(l)

Unique number count: 54
Unique numbers:
36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
def square(x):
    return x ** 2


def cube(x):
    return x ** 3


def sixth_power(x):
    return cube(square(x))


print(f"square(3): {square(3)}, cube(3): {cube(3)}, sixth: {sixth_power(3)}")

square(3): 9, cube(3): 27, sixth: 729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

In [8]:
cubes_for_list = []
for x in range(11):
    cubes_for_list.append(cube(x))
print("For loop:", cubes_for_list)

For loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [9]:
cubes_comprehension_list = [cube(x) for x in range(11)]
print("Cmphsion:", cubes_comprehension_list)

Cmphsion: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

We understand "unique" Pythagorean as the "primitive" Pythagorean triplets, i.e., the triples that are not of the form: $(a,b,c) = k(a^{'},b^{'},c^{'})$
With $k$ positive.

In [10]:
def is_primitive(triplet, lst):
    for element in lst:
        if triplet[0] > element[0] and triplet[0] / element[0] == triplet[1] / element[1] == triplet[2] / element[2]:
            return False
    return True


# Because of the symmetry a <-> b, we constrain b <= a. It also follows that c > a.
pythagorean_triplets = [(a, b, c) for a in range(1, 100) for b in range(1, a + 1) for c in range(a + 1, 100)
                       if a ** 2 + b ** 2 == c ** 2]
pythagorean_triplets = [triplet for triplet in pythagorean_triplets if is_primitive(triplet, pythagorean_triplets)]


print("The unique Pythagorean triplets are:")
print(*pythagorean_triplets, sep="\n")

The unique Pythagorean triplets are:
(4, 3, 5)
(12, 5, 13)
(15, 8, 17)
(21, 20, 29)
(24, 7, 25)
(35, 12, 37)
(40, 9, 41)
(45, 28, 53)
(55, 48, 73)
(56, 33, 65)
(60, 11, 61)
(63, 16, 65)
(72, 65, 97)
(77, 36, 85)
(80, 39, 89)
(84, 13, 85)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
# We return a new list, as the original tuple is unmodifiable by definition.
def normalize(vector):
    modulus = 0
    for component in vector:
        modulus += component ** 2
    modulus **= 0.5
    return [component / modulus for component in vector]


print("Normalize (0, 0, 0, 0, 1, 2):")
for element in normalize((0, 0, 0, 0, 1, 2)):
    print ('{:.2f}'.format(element), end="\t")
print()
print("Normalize (3, 3, -6):")
for element in normalize((3, 3, -6)):
    print ('{:.2f}'.format(element), end="\t")

Normalize (0, 0, 0, 0, 1, 2):
0.00	0.00	0.00	0.00	0.45	0.89
Normalize (3, 3, -6):
0.41	0.41	-0.82