1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [3]:
# a)

mickey = 'Mickey'
mouse = 'Mouse'

for n in range(1, 101):
    if n%3 == 0 and n%5 == 0:
        print(mickey+mouse)
    elif n%3 == 0:
        print(mickey)
    elif n%5 == 0:
        print(mouse)
    else: 
        print(n) 

# b)
        
donald = 'Donald'
duck = 'Duck'

a_list = []
for n in range(1,101): 
    if n%3 == 0 and n%5 == 0:
        a_list.append(donald+duck)
    elif n%3 == 0:
        a_list.append(donald)
    elif n%5 == 0:
        a_list.append(duck)
    else: 
        a_list.append(n)
        
a_tuple = tuple(a_list)

print(a_tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [11]:
# ugly

def swap_ugly(a, b):
    c = a
    a = b
    b = c
    return a, b

x = 'physics'
y = [i for i in range(5)]

print('\n\nUgly Swap Function:\n')
print('Initial variables\n')
print(f'x = {x}')
print(f'y = {y}')

x, y = swap_ugly(x, y)

print('\nSwapped variables\n')
print(f'x = {x}')
print(f'y = {y}')

# pythonic

def swap(a, b):
    a, b = b, a
    return a, b

x = 'physics'
y = [i for i in range(5)]

print('\n\nPythonic Swap Function:\n')
print('Initial variables\n')
print(f'x = {x}')
print(f'y = {y}')

x, y = swap_ugly(x, y)

print('\nSwapped variables\n')
print(f'x = {x}')
print(f'y = {y}')

Ugly Swap Function:

Initial variables

x = physics
y = [0, 1, 2, 3, 4]

Swapped variables

x = [0, 1, 2, 3, 4]
y = physics


Pythonic Swap Function:

Initial variables

x = physics
y = [0, 1, 2, 3, 4]

Swapped variables

x = [0, 1, 2, 3, 4]
y = physics

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [23]:
def compute_distance(u: tuple, v: tuple) -> float:
    if isinstance(u, tuple) == False or isinstance(v, tuple) == False:
        print('Error: only 2-tuples are accepted as function arguments')
    elif len(u) != len(v) or len(u) != 2 or len(v) != 2:
        print('Error: only 2-tuples are accepted as function arguments')
    else:
        d = ( (u[0]-v[0])**2 + (u[1]-v[1])**2 )**0.5
        return d


point_1 = (3, 0)
point_2 = (0, 4)
distance = compute_distance(point_1, point_2)
print(f'Distance = {distance}')

Distance = 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [24]:
class CharacterCounter:
    def __init__(self, input_string: str) -> None:
        self.s = input_string.replace(' ', '')
        pass

    def fetch_characters(self) -> None:
        self.character_set = set()
        for char in self.s:
            self.character_set.add(char.lower())

    def count_occurrencies(self, char: str) -> int:
        return self.s.count(char)


s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

counter_instance = CharacterCounter(input_string=s)
counter_instance.fetch_characters()

for char in counter_instance.character_set:
    occ = counter_instance.count_occurrencies(char)
    print(f'Character: {char}\nOccurrencies: {occ}\n')

Character: l
Occurrencies: 6

Character: k
Occurrencies: 2

Character: d
Occurrencies: 3

Character: v
Occurrencies: 2

Character: g
Occurrencies: 1

Character: f
Occurrencies: 9

Character: h
Occurrencies: 9

Character: w
Occurrencies: 1

Character: b
Occurrencies: 4

Character: y
Occurrencies: 2

Character: a
Occurrencies: 7

Character: e
Occurrencies: 22

Character: .
Occurrencies: 2

Character: t
Occurrencies: 19

Character: u
Occurrencies: 9

Character: o
Occurrencies: 13

Character: c
Occurrencies: 3

Character: m
Occurrencies: 8

Character: i
Occurrencies: 14

Character: 0
Occurrencies: 2

Character: p
Occurrencies: 8

Character: n
Occurrencies: 10

Character: s
Occurrencies: 9

Character: r
Occurrencies: 17

Character: 1
Occurrencies: 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [42]:
list_of_values = [
                    36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
                    85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
                    1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
                    45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20
                ]


unique_values = set(list_of_values)

print('\n\nUnique values:')
print(unique_values)
print(f'\nTotal number of values: {len(list_of_values)}')
print(f'Number of unique values: {len(unique_values)}')

# or

unique_values = []
for n in list_of_values: 
    if list_of_values.count(n) == 1:
        unique_values.append(n)
        
print('\n\nUnique values:')
print(unique_values)
print(f'\nTotal number of values: {len(list_of_values)}')
print(f'Number of unique values: {len(unique_values)}')

Unique values:
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

Total number of values: 80
Number of unique values: 54


Unique values:
[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

Total number of values: 80
Number of unique values: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [44]:
def square(x: float) -> float:
    return x**2

def cube(x: float) -> float:
    return x**3

def sixth_pow(x: float) -> float:
    return cube(square(x))

a = 2
print(f'{a}^6 = {sixth_pow(a)}')

2^6 = 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [45]:
# a)

cubes = []
for x in range(0, 11):
    cubes.append(x**3)

print(cubes)

# b)

cubes = [x**3 for x in range(0, 11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [49]:
triplets = [(a, b, c) for c in range(2, 100) for b in range(2, c) for a in range(2, b) if a**2 + b**2 == c**2]
triplets = tuple(triplets)
print(triplets)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [56]:
import random

def norm(x: tuple) -> tuple:
    if isinstance(x, tuple) == False: 
        print('Error: only n-tuples are accepted as function arguments')
    
    max_val = max(x)
    
    norm_x = [y/max_val for y in x]
    
    return tuple(norm_x)

vec = tuple(random.randint(0, 100) for _ in range(0, 15))
norm_vec = norm(vec)

print(f'\nInput vector:\n {vec}')
print(f'\nNormalized vector:\n {norm_vec}')

Input vector:
 (47, 53, 12, 100, 37, 45, 94, 40, 86, 84, 25, 66, 41, 94, 46)

Normalized vector:
 (0.47, 0.53, 0.12, 1.0, 0.37, 0.45, 0.94, 0.4, 0.86, 0.84, 0.25, 0.66, 0.41, 0.94, 0.46)