1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [45]:
#part a
def MickeyMouse(a):
        if a % 3 == 0 and a % 5 == 0:
            return "Mickey Mouse"
        elif a % 3 == 0:
            return "Mickey"
        elif a % 5 == 0:
            return "Mouse"
        else: 
            return a     
result1=[MickeyMouse(a) for a in range(1,101)] 
print(result1)
print("-------------------------------------------------------------------------------------------------------------------")
def DonaldDuck(i):
    if i == "Mickey Mouse":
        return "Donald Duck"
    elif i == "Mickey":
        return "Donald"
    elif i == "Mouse":
        return "Duck"
    else:
        return i
result2=[DonaldDuck(i) for i in result1]
print(result2)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'Mickey Mouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'Mickey Mouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'Mickey Mouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'Mickey Mouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'Mickey Mouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'Mickey Mouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
-------------------------------------------------------------------------------------------------------------------
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [18]:
def swap(a,b): return b,a
a,b=2,5
print(a,b)
print(swap(a,b))

2 5
(5, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [20]:
def dist(a,b): return ((a[0]-b[0])**2 + (a[1]-b[1])**2 )**(0.5)
u=(3,0)
v=(0,4)
print(dist(u,v))
print(type(dist(u,v)))

5.0
<class 'float'>

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [21]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

dizionario={}
for x in s.lower():
    if x in dizionario: dizionario[x]+=1
    else: dizionario[x]=1    
print(dizionario)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [23]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

k=set(l) #i set non printano i doppioni
print(k)
len(k) #lunghezza dell'oggetto che si mangia

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [29]:
def square(a): return a**2
def cube(a): return a**3
def pow_six(a): return square(a)*cube(a)*2

x=2

print(square(x))
print(cube(x))
print(pow_six(x))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [38]:
cubes1=[]
for i in range (0,10):
    cubes1.append(i**3)    
print(cubes1)

def cube(a): return a**3
cubes2=[cube(x) for x in range(0,10)]
print(cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [44]:
def pythagorean(i):
    for b in range (i):
        for a in range (1,b):
            c=(a**2 + b**2)**0.5
            if c%1==0:
                print(a,b,int(c))
triplets=[pythagorean(100)]
print(triplets)

3 4 5
6 8 10
5 12 13
9 12 15
8 15 17
12 16 20
15 20 25
20 21 29
7 24 25
10 24 26
18 24 30
21 28 35
16 30 34
24 32 40
12 35 37
15 36 39
27 36 45
9 40 41
30 40 50
40 42 58
33 44 55
24 45 51
28 45 53
14 48 50
20 48 52
36 48 60
39 52 65
48 55 73
33 56 65
42 56 70
11 60 61
25 60 65
32 60 68
45 60 75
16 63 65
60 63 87
48 64 80
51 68 85
24 70 74
21 72 75
30 72 78
54 72 90
65 72 97
40 75 85
57 76 95
36 77 85
18 80 82
39 80 89
60 80 100
13 84 85
35 84 91
63 84 105
80 84 116
66 88 110
48 90 102
56 90 106
60 91 109
69 92 115
28 96 100
40 96 104
72 96 120
20 99 101
[None]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [48]:
def normalization(i): return int(i/i)
a=[2,45,12,7,26]
b=[normalization(i) for i in a]
print(a)
print(b)

[2, 45, 12, 7, 26]
[1, 1, 1, 1, 1]