1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [7]:
"Exercise 1"

res = []

for i in range(0,100):
    if (i+1)%3 == 0 and (i+1)%5 != 0:
        print("Mickey")
        res.insert(i,"Mickey")
    elif (i+1)%5 == 0 and (i+1)%3 != 0:
        print("Mouse")
        res.insert(i,"Mouse")
    elif (i+1)%3 == 0 and (i+1)%5 == 0:
        print("Mickey Mouse")
        res.insert(i,"Mickey Mouse")
    else:
        print(i+1)
        res.insert(i,i+1)
    
a, b, c = "Mickey", "Mouse", "Mickey Mouse"

for i in range(0,100):
    if res[i] == a:
        res[i] = "Donald"
    elif res[i] == b:
        res[i] = "Duck"
    elif res[i] == c:
        res[i] = "Donald Duck"

print(res)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [56]:
"Exercise 2"

x = input()
y = input()

def swap_1(a,b):
    global x, y
    c = [a,b]
    x = c[1]
    y = c[0]

swap_1(x,y)
print(x,y)

def swap_2(a,b):
    return b, a

x, y = swap_2(x,y)
print(x, y)

2 1
1 2

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [18]:
"Exercise 3"

x1 = 3
y1 = 0
x2 = 0
y2 = 4
u = (x1, y1)
v = (x2, y2)

def dist(a,b):
    d = ((a[0] - b[0])**2 + (a[1] - b[1])**2)**(1/2)
    return d

d = dist(u,v)
print(d)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [46]:
"Exercise 4"

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
l = [x for x in s]
m = []

for i in range(len(l)):
    a = 0
    for j in range(0,i):
        if l[i] == l[j] and i != j:
            a +=1
    if a == 0:
        m.append(l[i])
        
for val in m:
    print(val, " counts: ", l.count(val))

w  counts:  2
r  counts:  17
i  counts:  14
t  counts:  19
e  counts:  22
   counts:  41
a  counts:  7
p  counts:  8
o  counts:  13
g  counts:  1
m  counts:  12
h  counts:  9
n  counts:  10
s  counts:  9
u  counts:  9
b  counts:  5
f  counts:  10
1  counts:  2
0  counts:  2
.  counts:  2
l  counts:  6
c  counts:  3
k  counts:  2
y  counts:  2
d  counts:  3
v  counts:  2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [39]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

b = 0
unique = []
for i in range(len(l)):
    a = 0
    for j in range(len(l)):
        if l[i] == l[j] and i != j:
            a += 1
    if a == 0:
        b += 1
        unique.append(l[i])

print(unique)
print(b)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [1]:
"Exercise 6"

def square(a):
    return a**2

def cube(a):
    return a**3

def sixth(a):
    return square(a)*cube(a)*a

print(sixth(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [52]:
"Exercise 7"

cube_a = []
for i in range(0,11):
    cube_a.append(i**3)
print(cube_a)

cube_b = [x**3 for x in range(0,11)]
print(cube_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [51]:
"Exercise 8"

d = []
for i in range(0,100):
    d.insert(i,i)

for i in range(1,100):
    for j in range (1,i):
        a = i
        b = j
        c = (a**2 + b**2)**(1/2)
        
        for l in range(len(d)):
            if c == d[l]:
                print((a,b,int(c)))

(4, 3, 5)
(8, 6, 10)
(12, 5, 13)
(12, 9, 15)
(15, 8, 17)
(16, 12, 20)
(20, 15, 25)
(21, 20, 29)
(24, 7, 25)
(24, 10, 26)
(24, 18, 30)
(28, 21, 35)
(30, 16, 34)
(32, 24, 40)
(35, 12, 37)
(36, 15, 39)
(36, 27, 45)
(40, 9, 41)
(40, 30, 50)
(42, 40, 58)
(44, 33, 55)
(45, 24, 51)
(45, 28, 53)
(48, 14, 50)
(48, 20, 52)
(48, 36, 60)
(52, 39, 65)
(55, 48, 73)
(56, 33, 65)
(56, 42, 70)
(60, 11, 61)
(60, 25, 65)
(60, 32, 68)
(60, 45, 75)
(63, 16, 65)
(63, 60, 87)
(64, 48, 80)
(68, 51, 85)
(70, 24, 74)
(72, 21, 75)
(72, 30, 78)
(72, 54, 90)
(72, 65, 97)
(75, 40, 85)
(76, 57, 95)
(77, 36, 85)
(80, 18, 82)
(80, 39, 89)
(84, 13, 85)
(84, 35, 91)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
"Exercise 9"

v = (1, 1, 1, 1)

def normalize(a):
    norm = 0
    for i in range(len(a)):
        norm += a[i]**2
    norm = norm**(1/2)

    b = [a[i]/norm for i in range(len(a))]

    return b

print(normalize(v))

[0.5, 0.5, 0.5, 0.5]