1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
# Exercise 1 
# point a)

def funzione(i):
    topo = ''
    if (i%3 == 0) and (i%5==0):
        topo = 'MickeyMouse'

    elif (i%5 == 0):
        topo = 'Mouse'

    elif (i%3==0):
        topo = 'Mickey'

    if topo:
       return(topo)
    else:
        return(i)


for i in range(1,101):
    print(funzione(i))

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [3]:
# Exercise 1 
# point b)

la_tupla = (funzione(i) for i in range (1,101))
lista = list(la_tupla)
for i, a in enumerate(lista):
    if a == 'Mickey':
        lista[i] = 'Donald'
    elif a == 'Mouse':
        lista[i] = 'Duck'
    elif a == 'MickeyMouse':
        lista[i] = 'DonaldDuck'

la_tupla = tuple((lista))
print(la_tupla)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
# Exercise 2

#With temporary variable, (print statements inserted for verification)
def swappo(x,y):
    print(x)
    print(y)
    t = x
    x = y
    y = t
    print(x)
    print(y)
    
swappo('pizza', 5)

#Without temporary variable, (print statements inserted for verification)

def swappo_senzat(x,y):
    print(x)
    print(y)
    x, y = y,x 
    print(x)
    print(y)

swappo_senzat('pizza', 7)

pizza
5
5
pizza
pizza
7
7
pizza

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
#Exercise 3

import math as m

def distance(a,b):
    return m.sqrt(((a[0]-b[0])**2) + ((a[1]-b[1])**2) )


first = input('Insert x coordinate and y coordinate of first point, separated by comma: ')
u = tuple(float(x) for x in first.split(","))
second = input('Insert x coordinate and y coordinate of second point, separated by comma: ')
v = tuple(float(x) for x in second.split(","))

    
distance(u,v)

Insert x coordinate and y coordinate of first point, separated by comma: 3,0
Insert x coordinate and y coordinate of second point, separated by comma: 0,4

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
#Exercise 4

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

dizio = {}
  
for i in s.lower():
    if i in dizio:
        dizio[i] += 1
    else:
        dizio[i] = 1

print(dizio)

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 41, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [7]:
# Exercise 5


l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

# Create list with unique numbers in target list
def unique(l):
  u = []
  for i in l:
    if i not in u:
      u.append(i)
  print('The list is long:', len(l))
  print('The unique numbers in list are:', len(u))  
  print('The original list contains these numbers:', l)
  print('The non-repeated numbers in target list are:', u)

unique(l)

The list is long: 80
The unique numbers in list are: 54
The original list contains these numbers: [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
The non-repeated numbers in target list are: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
# Exercise 6 

def square(n):
    return n*n

def cube(n):
    return n*n*n


def sixthpow(n):
    return cube(square(n))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
#Exercise 7
#Part a)

def cube(n):
    return n*n*n

a = [0]*11
for i in range(11):
    a[i] = cube(i)
    
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
#Exercise 7
#Part b)

b = [cube(i) for i in range(11)]

print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
# Exercise 8. 
# Assuming "less than 100" to be < and not <=.

def Pytha(k):
    tripl = []
    for a in range(1,k):
        for b in range(1,k):
            for c in range(1,k):
                if (a**2 + b**2 == c**2):
                    x = (a,b,c)
                    tripl.append(x)
                    A = set(tuple(sorted(i)) for i in tripl)
    
    print('Number of unique triplets with a,b,c <', k, 'is :', len(A))
    return A

Pytha(100)

Number of unique triplets with a,b,c < 100 is : 50

{(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)}

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [14]:
# Exercise 9. Works for positive numbers (so ok for relative frequencies). 

def NormalizeTuples(X):
    norm = sum(X)
    nuovatupla = ([float(i)/norm for i in X])
    return nuovatupla
    



nums = input('Insert the numbers which must be normalized, separated by a comma (for decimal separation use point):')
X = tuple(float(x) for x in nums.split(","))

NormalizeTuples(X)

Insert the numbers which must be normalized, separated by a comma (for decimal separation use point):2.5,5,2.5

[0.25, 0.5, 0.25]

In [15]:
# Exercise 9bis. Works also for negative numbers.
# Not sure if this second version is useful for statistics, but it might be useful to "calibrate" something (?)
# For example: 
# We have the inputs collected by 'something' in a tuple, with this code we normalize the response of 
# the 'something' and we keep the sign distinction.

def NormalizeTuples1(X):
    norm = sum(abs(i) for i in X)
    nuovatupla = ([float(i)/norm for i in X])
    return nuovatupla
    



nums = input('Insert the numbers which must be normalized, separated by a comma (for decimal separation use point):')
X = tuple(float(x) for x in nums.split(","))

NormalizeTuples1(X)

Insert the numbers which must be normalized, separated by a comma (for decimal separation use point):2.5,-5,2.5

[0.25, -0.5, 0.25]