1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:

def ex1(num,str1,str2):
    if ((num % 3) == 0 and (num % 5) == 0) : return str1+str2
    elif (num % 3) ==0:return str1
    elif (num % 5) ==0:return str2
    else:return num

    
str1 = "Mickey"
str2 = "Mouse"
tm = ()
for nums in range(1,101): 
    k = ex1(nums,str1,str2)
    tm = tm+(k,)
    print(k)
    
str1 = "Donald"
str2 = "Duck"
td = ()
for nums in range(1,101): 
    k = ex1(nums,str1,str2)
    td = td+(k,)
    print(k)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
x = input("Enter youe value for x: ")
y = input("Enter youe value for y: ")

print("this is x: ", x)
print("this is y: ", y)

x,y = y,x

print("now this is x: ", x)
print("now this is y: ", y)

def swap(x,y):
    x,y = y,x
    return(x,y)

print(swap(x,y))

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
from numpy import sqrt
u = (3,0)
v = (0,4)
d = sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)
print(d)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [57]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

n = []
nc = []
for letra in s:
    if nc.count(letra.upper()) == 0:
        k = s.upper().count(letra.upper())
        nc.append(letra.upper())
        n.append(letra.upper() + " " + str(k))
        
print (n)

['W 2', 'R 17', 'I 14', 'T 19', 'E 22', '  41', 'A 7', 'P 8', 'O 13', 'G 1', 'M 12', 'H 9', 'N 10', 'S 9', 'U 9', 'B 5', 'F 10', '1 2', '0 2', '. 2', 'L 6', 'C 3', 'K 2', 'Y 2', 'D 3', 'V 2']

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [38]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
print("Number of elements in the original array:",len(l))
print("\nNew array elminating duplicates: ")
print(set(l))
print("\nNumber of unique elements:",len(set(l)))

Number of elements in the original array: 80

New array elminating duplicates:
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

Number of unique elements: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [ ]:
def cuadrado(num):
    return num*num
def cubo(num):
    return num*num*num

print(cubo(cuadrado(2)))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [37]:
k = []
for nums in range(0,11):
    k.append(nums*nums*nums)
    print(nums*nums*nums)

print(k)

0
1
8
27
64
125
216
343
512
729
1000
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [35]:
from numpy import sqrt

tpy = ()
awnsers = []
for b in range(1,100):
    for a in range(b,100):
        c = a*a+b*b
        if sqrt(c) == int(sqrt(c)) and sqrt(c)<100 and awnsers.count(sqrt(c)) == 0: 
            tpy = tpy+((a,b,int(sqrt(c))),)
            ##awnsers = awnsers + [sqrt(c)]
            
print(tpy)
print(len(tpy))

((4, 3, 5), (12, 5, 13), (8, 6, 10), (24, 7, 25), (15, 8, 17), (12, 9, 15), (40, 9, 41), (24, 10, 26), (60, 11, 61), (16, 12, 20), (35, 12, 37), (84, 13, 85), (48, 14, 50), (20, 15, 25), (36, 15, 39), (30, 16, 34), (63, 16, 65), (24, 18, 30), (80, 18, 82), (21, 20, 29), (48, 20, 52), (28, 21, 35), (72, 21, 75), (32, 24, 40), (45, 24, 51), (70, 24, 74), (60, 25, 65), (36, 27, 45), (45, 28, 53), (40, 30, 50), (72, 30, 78), (60, 32, 68), (44, 33, 55), (56, 33, 65), (84, 35, 91), (48, 36, 60), (77, 36, 85), (52, 39, 65), (80, 39, 89), (42, 40, 58), (75, 40, 85), (56, 42, 70), (60, 45, 75), (55, 48, 73), (64, 48, 80), (68, 51, 85), (72, 54, 90), (76, 57, 95), (63, 60, 87), (72, 65, 97))
50

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [36]:
from numpy import sqrt
tn = (5,2,3,4)
tn2 = ()
prod = 0
for a in tn:
    prod = prod + a*a
    
for a in range(0,len(tn)):
    tn2 = tn2+(tn[a]/sqrt(prod),)
    

print(tn2)

(0.6804138174397717, 0.2721655269759087, 0.408248290463863, 0.5443310539518174)