# Esercizio1

### The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#a)
MickeyMouse = [x for x in range(101)]
print("Numeri da 1 a 100")
print(MickeyMouse)

def sostituzione(lista):
    for i in range(0,len(lista)):
        if lista[i]%3 == 0:
            lista[i] ="Mickey"
        elif lista[i]%5 == 0:
            lista[i] ="Mouse"
        elif lista[i]%3==0 and lista[i]%5==0:
            lista[i] ="MickeyMouse"

    return lista

new_Mickey_Mouse = sostituzione(MickeyMouse)
print("\nlista con numeri da 1 a 100 con modifica MickeyMouse:")
print(new_Mickey_Mouse)



#b)
#trasformiamo la lista in una tupla
new_Mickey_Mouse_tuple = tuple(new_Mickey_Mouse)
print("\ntupla con numeri da 1 a 100 con modifica MickeyMouse:")
print(new_Mickey_Mouse_tuple)

def cambionome(lista):
    for i in range(0,len(lista)):
        if lista[i] == "Mickey":
            lista[i] ="Donald"
        elif lista[i] == "Mouse":
            lista[i] ="Duck"

    return lista

Donald_Duck = cambionome(new_Mickey_Mouse)
print("\nlista MickeyMouse con modifica DonaldDuck:")
print(Donald_Duck)
#trasformiamo la lista in una tupla
Donald_Duck_tuple = tuple(Donald_Duck)
print("\ntupla MickeyMouse con modifica DonaldDuck:")
print(Donald_Duck_tuple)

# Esercizio 2
### The swap function
Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
#swap function with temporary variable

a = input("Inserisci il primo input: ")
b =  input("Inserisci il secondo input: ")

inputs=[a,b]
print("Hai inserito i seguenti input: ",inputs)

def swap_temp(a,b):
    temp=a
    a=b
    b=temp
    return [a,b]

print("Gli input scambiati sono: ",swap_temp(a,b))

Inserisci il primo input: l
Inserisci il secondo input: s
Hai inserito i seguenti input:  ['l', 's']
Gli input scambiati sono:  ['s', 'l']

In [1]:
#swap function without temporary variable

a = input("Inserisci il primo input: ")
b = input("Inserisci il secondo input: ")

inputs=[a,b]
print("Hai inserito i seguenti input: ",inputs)

def swap_no_temp(a,b):
    a,b = b,a
    return [a,b]

print("Gli input scambiati sono: ",swap_no_temp(a,b))

Inserisci il primo input: l
Inserisci il secondo input: s
Hai inserito i seguenti input:  ['l', 's']
Gli input scambiati sono:  ['s', 'l']

# Esercizio 3
### Computing the distance
Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5

In [2]:
from math import sqrt
#warning
x_u = float(input("Inserisci primo valore tupla u: "))
y_u = float(input("Inserisci secondo valore tupla u: "))

x_v = float(input("Inserisci primo valore tupla v: "))
y_v = float(input("Inserisci secondo valore tupla v: "))

u = (x_u, y_u)
v = (x_v, y_v)

print("PUNTO 1: ",u)
print("PUNTO 2: ",v)

def distance(tuple_1, tuple_2):
    sum=0
    for k in range(2):
        sum += ((tuple_1[k]) - tuple_2[k])**2
        r = sqrt(sum)

    return r

euclidean_distance = distance(u,v)
print("DISTANZA EUCLIDEA: ",round(euclidean_distance,3))

Inserisci primo valore tupla u: 3.7
Inserisci secondo valore tupla u: 4.8
Inserisci primo valore tupla v: 2.7
Inserisci secondo valore tupla v: 5.9
PUNTO 1:  (3.7, 4.8)
PUNTO 2:  (2.7, 5.9)
DISTANZA EUCLIDEA:  1.487

# Esercizio 4
### Counting letters
Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization

In [9]:
s="Write a program that prints the numbers from 1 to 100." \
  "But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse." \
  "For numbers which are multiples of both three and five print MickeyMouse"

def contatore(stringa):
    dizionario = {} #item è una lettera
    for item in stringa.lower(): #siccome non c'è differenza tra lettere maiuscole e minuscole, trasformo tutte le maiuscole in minuscole
        dizionario[item] = dizionario.get(item, 0) + 1

    return dizionario

print(contatore(s))

{'w': 2, 'r': 17, 'i': 14, 't': 19, 'e': 22, ' ': 39, 'a': 7, 'p': 8, 'o': 13, 'g': 1, 'm': 12, 'h': 9, 'n': 10, 's': 9, 'u': 9, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 2, 'l': 6, 'c': 3, 'k': 2, 'y': 2, 'd': 3, 'v': 2}

# Esercizio 5
### Isolating the unique
Write a function that determines and count the unique numbers in the list l

In [14]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

print("list of values: ",l)
print("\nNumber of values in list l: ",len(l))
#CON QUESTA FUNZIONE CONTO QUANTE VOLTE CIASCUN NUMERO COMPARE.
def contatore(lista):
    dizionario = {}  #istanzio il mio dizionario
    for item in lista:
        dizionario[item] = dizionario.get(item, 0) + 1 #ciascun numero è una chiave, e il valore associato è il numero di volte che compare nella lista.
    return dizionario


dizionario  = contatore(l)
#print(dizionario)

#INDIVIDUO I VALORI LE CUI KEYS SONO PARI AD 1 (significa che il valore è comparso una sola volta
unique = []
for number, count in dizionario.items():
    if count == 1:
        unique.append(number)

print("\nNumber of unique values in list l: ",len(unique))
print("\nThe unique values in list l are:",unique)

list of values:  [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Number of values in list l:  80

Number of unique values in list l:  37

The unique values in list l are: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

# Esercizio 6
### Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
number = float(input("inserisci un numero: "))
print("Numero inserito: ",number)

def square(a):
    return a**2

def cube(a):
    return a**3

def sixth(a):
    return a*cube(a)*square(a)

print("la sesta potenza del numero inserito è: ",round(sixth(number),3))

inserisci un numero: 45
Numero inserito:  45.0
la sesta potenza del numero inserito è:  8303765625.0

# Esercizo 7 
### Cubes
Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

In [16]:
cubes_loop = []
for x in range(11):
    cubes_loop.append(x**3)
print("list of the cubes using loop: ",cubes_loop)

list of the cubes using loop:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [17]:
#Create a list of the cubes of x for x in [0, 10] using list comprhension
cubes_comprhension = [x**3 for x in range(11)]
print("list of the cubes using comprhension: ",cubes_comprhension)

list of the cubes using comprhension:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Esercizio 8
### Nested list comprehension
A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [32]:
Pythagorean_list = [(a,b,c) for a in range(1,100) for b in range(1,100) for c in range(1,100) if a**2 + b**2 == c**2]
print(tuple(Pythagorean_list))

((3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

# Esercizio 9
### Normalization
Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [18]:
dim = int(input("Quanti valori vuoi inserire?(Inserire un numero intero) "))


values= []
for i in range(1,dim+1):
    element = float(input("Inserisci valore(intero o decimale): "))
    values.append(element)
values = tuple(values)
print("Valori inseriti: ",values)

normalized_values =  [round(i/sum(values),3) for i in values]
normalized_values = tuple(normalized_values)
print("Valori normalizzati: ",normalized_values )

Quanti valori vuoi inserire?(Inserire un numero intero) 5
Inserisci valore(intero o decimale): 2
Inserisci valore(intero o decimale): 4
Inserisci valore(intero o decimale): 6
Inserisci valore(intero o decimale): 7
Inserisci valore(intero o decimale): 5
Valori inseriti:  (2.0, 4.0, 6.0, 7.0, 5.0)
Valori normalizzati:  (0.083, 0.167, 0.25, 0.292, 0.208)