1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [60]:
#I create a void list, named b and I fill it as requested, than I print it.
b = []
for i in range(1,101) :  
    if i % 15 == 0: 
        b.append('MickeyMouse')
    elif i % 3 == 0:
        b.append('Mickey')
    elif i % 5 == 0:
        b.append('Mouse')
    else:
        b.append(i)  
print("LISTA_1:", b)
print("--------------------------------------------------------------------------------------------")
# I do the substitutions on the list b, I turn it into a tuple and then I print it. Doing the substitutions directly on the tuple is not possible. 
i = 0
while i < 100: 
    if b[i] == 'Mickey':
        b[i] = 'Donald'
    elif b[i] == 'Mouse':
        b[i] = 'Duck'
    i += 1
b = tuple(b)
print("TUPLA_2:", b)

LISTA_1: [1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']
--------------------------------------------------------------------------------------------
TUPLA_2: (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [61]:
def swap(x,y):
    return y,x

print(swap2("Gatto","Cane"))

('Cane', 'Gatto')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [62]:
"""def distance2 (x,y,X,Y):
    import math
    d = math.sqrt((x-X)**2 + (y-Y)**2)
    return d
distance(*(3,0),*(0,4))"""

def distance (arg1,arg2):
    import math
    x = arg1[0]
    y = arg1[1]
    X = arg2[0]
    Y = arg2[1]
    d = math.sqrt((x-X)**2 + (y-Y)**2)
    return d

print("Distance: %1.1f" %distance((3,0),(0,4)))

Distance: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [63]:
# The function 'quante' takes as argument a character and a string, lowers them both and then counts how many times the letter is inside the given string. 
def quante(letter,string):
    letter = letter.lower()
    string = string.lower()
    return string.count(letter)

print('number of %s inside %s : %i' %('g', 'Topo Gigio', quante('G', 'Topo Gigio')))

number of g inside Topo Gigio : 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [64]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique(arg):
    n = []
    count = 0
    for i in range (min(arg),max(arg)):
        if arg.count(i) == 1:
            count +=1
            n.append(i)
    return count,n

quanti,numeri = unique(l)

# I used .format() to print the results because I found no placeholder for lists
print('There are {} unique numbers: {}' .format(quanti,numeri))

There are 36 unique numbers: [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [65]:
def square(x):
    return x**2

def cube(y):
    return y**3

def sixth(z):
    x = square(z)
    y = cube (x)
    return y

print('the square of %i is: %i' %(2,square(2)))
print('the cube of %i is: %i' %(2,cube(2)))
print('the sixth power of %i is: %i' %(2,sixth(2)))

the square of 2 is: 4
the cube of 2 is: 8
the sixth power of 2 is: 64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [66]:
y = []
for i in range (0,11):
    y.append(i**3)
print(y)

print("B PART------------------------------------------------------------")

x = [x**3 for x in range (0,11)]
print(x)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
B PART------------------------------------------------------------
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [67]:
def Pit(a,b):
    import math
    C = math.sqrt(a**2 + b**2)
    return C

l = [[a,b, int(Pit(a,b))] for a in range (1,100) for b in range (1,100) if a < b < Pit(a,b) == int(Pit(a,b)) < 100]
print('Pythagorean triples:{}' .format(l))

Pythagorean triples:[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [68]:
#I used the 'lambda' function because operations between a tuple and an integer are not allowed and the 'map' function because was faster then a loop.
def norm(args):
    import math
    n = math.sqrt(sum(list(map(lambda x: x**2, args))))
    r = map(lambda x: x/n, args)
    return tuple(r)

f = (1,1)
F = norm(f)
print('The normalized tuple of {} is: {}' .format(f,F))

The normalized tuple of (1, 1) is: (0.7071067811865475, 0.7071067811865475)