1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
s1="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
t=list() 
for i in range (1,100):
    if i%3 == 0  and i%5 == 0: 
        t+=["MickeyMouse",] 
    elif i%3==0:
        t+=["Mickey",]
    elif i%5==0:
        t+=["Mouse",]
    else:
        t+=[i]

tup=tuple(t)
print("First tupla is: \n {} \n".format(tup))

t=['Donald' if x=='Mickey' else x for x in t]
t=['Duck' if x=='Mouse' else x for x in t]
t=['DonaldDuck' if x=='MickeyMouse' else x for x in t]

tup=tuple(t)
print("Second tupla is: \n {} \n".format(tup))

First tupla is:
 (1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey')

Second tupla is:
 (1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
x1=input("Enter x:") 
y1=input("Enter y:")

def swap (x1, y1):
    return y1, x1

x,y=swap(x1, y1)

print("The swapped values are: {}, {}".format(x, y))

def swap1 (x1, y1):
    ch=x1
    x1=y1
    y1=ch
    return x1, y1

x,y=swap1(x,y)

print("The swapped again values are: {}, {}".format(x, y))

Enter x:1
Enter y:b
The swapped values are: b, 1
The swapped again values are: 1, b

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math

def dist(a,b):
    distance=math.sqrt((a[0]-b[0])**2+(a[1]-b[1])**2) 
    return distance


a=[float(x) for x in input("Enter the cordinates x,y of the first point:").split(',')] 
b=[float(x) for x in input("Enter the cordinates x,y of the second point:").split(',')] 

at=tuple(a)  
bt=tuple(b)


c=dist(a,b)
print("The euclidean distance between the 2 points is: {}".format(c))

Enter the cordinates x,y of the first point:3,0
Enter the cordinates x,y of the second point:0,4
The euclidean distance between the 2 points is: 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
sentence = input("Write a sentence: ")
def chcounter(sentence):
    sentence=sentence.upper()
    c=list()
    characters = [x for x in sorted(sentence)]
    for i in range(0,len(characters)):
        if characters[i]!=" " and characters[i] not in c :  
            print("Number of {} in the sentence is {}".format(characters[i], characters.count(characters[i])))
        c+=characters[i]
        
chcounter(sentence)

Write a sentence: Write a sentence
Number of A in the sentence is 1
Number of C in the sentence is 1
Number of E in the sentence is 4
Number of I in the sentence is 1
Number of N in the sentence is 2
Number of R in the sentence is 1
Number of S in the sentence is 1
Number of T in the sentence is 2
Number of W in the sentence is 1

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def uniquen(l):
    c=list()
    s=""
    for i in range(0,len(l)): 
        if l.count(l[i])==1 and l[i] not in c:
            c.append(l[i])
            s+="{}, ".format(l[i])
    n=len(c)
    return(s, n)

string, num = uniquen(l)
print("The {} unique numbers of the list are: {}".format(num ,string[:-2]))

The 37 unique numbers of the list are: 58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def sec(a):
    b=a**2
    return b

def ter(a):
    b=a**3
    return b

def ses(a):
    b=sec(ter(a))
    return b

x=float(input("Enter a number: "))
c=ses(x)
print("The 6th power of the number is = {}".format(c))

Enter a number: 5
The 6th power of the number is = 15625.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
a=list()
for x in range(0,11):
    a.append(x**3)
print("List of cubes with a)= {}".format(a))

b=[x**3 for x in range(0,11)]
print("List of cubes with b)= {}".format(b))

List of cubes with a)= [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
List of cubes with b)= [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
"""import math
import time
l=list()
for a in range(1,100):
    for b in range(1,100):
        c2=a**2+b**2
        c=math.sqrt(c2)
        if c%1==0 and c<100:
            li=tuple(sorted((a, b, int(c))))
            if li not in l:
                l.append(li)
l=tuple(l)

print("The {} Pythagorean triples for positive integer a, b and c less than 100 are:".format(len(l)))
for tup in l:
    print(tup)
"""
#with list comprehension
d=[(a,b,c) for a in range(1,100) for b in range (a+1,100) for c in range(1,100) if c**2==a**2+b**2]
print("The {} Pythagorean triples for positive integer a, b and c less than 100 are:".format(len(d)))
print(tuple(d))

The 50 Pythagorean triples for positive integer a, b and c less than 100 are:
((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
a=[float(x) for x in input("Enter a tupla of numbers: ").split(',')]
a=tuple(a)

def norma(a):
    b=0
    for x in a:
        b+=x
    c=[x/b for x in a]
    return tuple(c)

print("The normalized tupla is: {}".format(norma(a)))

Enter a tupla of numbers: 1,5,9,5
The normalized tupla is: (0.05, 0.25, 0.45, 0.25)