Esercizi

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
#creo una listaa per il punto b
lista = []
for i in range (1,101):
    if (i%3 == 0):
        lista.append("Mickey")
    elif(i%5 == 0):
        lista.append("Mouse")
    if (i%3 == 0 and i%5 ==0):
        lista.append("MickeyMouse")        
    else:
        lista.append(i)

tupla = tuple(lista)
print(tupla)

(1, 2, 'Mickey', 3, 4, 'Mouse', 5, 'Mickey', 6, 7, 8, 'Mickey', 9, 'Mouse', 10, 11, 'Mickey', 12, 13, 14, 'Mickey', 'MickeyMouse', 16, 17, 'Mickey', 18, 19, 'Mouse', 20, 'Mickey', 21, 22, 23, 'Mickey', 24, 'Mouse', 25, 26, 'Mickey', 27, 28, 29, 'Mickey', 'MickeyMouse', 31, 32, 'Mickey', 33, 34, 'Mouse', 35, 'Mickey', 36, 37, 38, 'Mickey', 39, 'Mouse', 40, 41, 'Mickey', 42, 43, 44, 'Mickey', 'MickeyMouse', 46, 47, 'Mickey', 48, 49, 'Mouse', 50, 'Mickey', 51, 52, 53, 'Mickey', 54, 'Mouse', 55, 56, 'Mickey', 57, 58, 59, 'Mickey', 'MickeyMouse', 61, 62, 'Mickey', 63, 64, 'Mouse', 65, 'Mickey', 66, 67, 68, 'Mickey', 69, 'Mouse', 70, 71, 'Mickey', 72, 73, 74, 'Mickey', 'MickeyMouse', 76, 77, 'Mickey', 78, 79, 'Mouse', 80, 'Mickey', 81, 82, 83, 'Mickey', 84, 'Mouse', 85, 86, 'Mickey', 87, 88, 89, 'Mickey', 'MickeyMouse', 91, 92, 'Mickey', 93, 94, 'Mouse', 95, 'Mickey', 96, 97, 98, 'Mickey', 99, 'Mouse', 100)

In [2]:
#creo una lista la riempio con gli elementi modificati e la trasformo in tupla
list1 = lista.copy()

for i in range (100):
    if list1[i] == "Mickey":
        list1[i] = "Donald"
    elif list1[i] == "Mouse":
        list1[i] = "Duck"
        
print (list1)

[1, 2, 'Donald', 3, 4, 'Duck', 5, 'Donald', 6, 7, 8, 'Donald', 9, 'Duck', 10, 11, 'Donald', 12, 13, 14, 'Donald', 'MickeyMouse', 16, 17, 'Donald', 18, 19, 'Duck', 20, 'Donald', 21, 22, 23, 'Donald', 24, 'Duck', 25, 26, 'Donald', 27, 28, 29, 'Donald', 'MickeyMouse', 31, 32, 'Donald', 33, 34, 'Duck', 35, 'Donald', 36, 37, 38, 'Donald', 39, 'Duck', 40, 41, 'Donald', 42, 43, 44, 'Donald', 'MickeyMouse', 46, 47, 'Donald', 48, 49, 'Duck', 50, 'Donald', 51, 52, 53, 'Donald', 54, 'Duck', 55, 56, 'Donald', 57, 58, 59, 'Donald', 'MickeyMouse', 61, 62, 'Donald', 63, 64, 'Duck', 65, 'Donald', 66, 67, 68, 'Donald', 69, 'Mouse', 70, 71, 'Mickey', 72, 73, 74, 'Mickey', 'MickeyMouse', 76, 77, 'Mickey', 78, 79, 'Mouse', 80, 'Mickey', 81, 82, 83, 'Mickey', 84, 'Mouse', 85, 86, 'Mickey', 87, 88, 89, 'Mickey', 'MickeyMouse', 91, 92, 'Mickey', 93, 94, 'Mouse', 95, 'Mickey', 96, 97, 98, 'Mickey', 99, 'Mouse', 100]

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
print ("Dammi due variabili qualsiasi e io te le swappo:")

a=input("a = ")
b=input("b = ")

a,b=b,a

print("a = ", a)
print("b = ", b)

Dammi due variabili qualsiasi e io te le swappo:
a = ciao
b = 7
a =  7
b =  ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
print ("Calcolo la distanza tra due punti su un piano ")

#creo i punti

x1 = float(input ("Inserisci la x del primo punto "))
y1 = float(input ("Inserisci la y del primo punto "))
x2 = float(input ("Inserisci la x del secondo punto "))
y2 = float(input ("Inserisci la y del secondo punto "))

A = (x1, y1)
B = (x2, y2)

def distanza(P1, P2):
    import math
    return math.sqrt ((P2[0]-P1[0])**2+(P2[1]-P1[1])**2)

print (distanza(A,B))

Calcolo la distanza tra due punti su un piano
Inserisci la x del primo punto 3
Inserisci la y del primo punto 0
Inserisci la x del secondo punto 0
Inserisci la y del secondo punto 4
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [5]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"



def counter(s,c):
    a = 0
    for i in range (0,len(s)):
        if s[i] == c:
            a+=1
    return a

for i in range (0,len(s)):
    print(s[i], "appare in numero", counter(s,s[i]), "volte")

W appare in numero 1 volte
r appare in numero 17 volte
i appare in numero 14 volte
t appare in numero 19 volte
e appare in numero 22 volte
  appare in numero 41 volte
a appare in numero 7 volte
  appare in numero 41 volte
p appare in numero 8 volte
r appare in numero 17 volte
o appare in numero 13 volte
g appare in numero 1 volte
r appare in numero 17 volte
a appare in numero 7 volte
m appare in numero 8 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
a appare in numero 7 volte
t appare in numero 19 volte
  appare in numero 41 volte
p appare in numero 8 volte
r appare in numero 17 volte
i appare in numero 14 volte
n appare in numero 10 volte
t appare in numero 19 volte
s appare in numero 9 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
e appare in numero 22 volte
  appare in numero 41 volte
n appare in numero 10 volte
u appare in numero 9 volte
m appare in numero 8 volte
b appare in numero 4 volte
e appare in numero 22 volte
r appare in numero 17 volte
s appare in numero 9 volte
  appare in numero 41 volte
f appare in numero 9 volte
r appare in numero 17 volte
o appare in numero 13 volte
m appare in numero 8 volte
  appare in numero 41 volte
1 appare in numero 2 volte
  appare in numero 41 volte
t appare in numero 19 volte
o appare in numero 13 volte
  appare in numero 41 volte
1 appare in numero 2 volte
0 appare in numero 2 volte
0 appare in numero 2 volte
. appare in numero 2 volte
  appare in numero 41 volte
B appare in numero 1 volte
u appare in numero 9 volte
t appare in numero 19 volte
  appare in numero 41 volte
f appare in numero 9 volte
o appare in numero 13 volte
r appare in numero 17 volte
  appare in numero 41 volte
m appare in numero 8 volte
u appare in numero 9 volte
l appare in numero 6 volte
t appare in numero 19 volte
i appare in numero 14 volte
p appare in numero 8 volte
l appare in numero 6 volte
e appare in numero 22 volte
s appare in numero 9 volte
  appare in numero 41 volte
o appare in numero 13 volte
f appare in numero 9 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
r appare in numero 17 volte
e appare in numero 22 volte
e appare in numero 22 volte
  appare in numero 41 volte
p appare in numero 8 volte
r appare in numero 17 volte
i appare in numero 14 volte
n appare in numero 10 volte
t appare in numero 19 volte
  appare in numero 41 volte
M appare in numero 4 volte
i appare in numero 14 volte
c appare in numero 3 volte
k appare in numero 2 volte
e appare in numero 22 volte
y appare in numero 2 volte
  appare in numero 41 volte
i appare in numero 14 volte
n appare in numero 10 volte
s appare in numero 9 volte
t appare in numero 19 volte
e appare in numero 22 volte
a appare in numero 7 volte
d appare in numero 3 volte
  appare in numero 41 volte
o appare in numero 13 volte
f appare in numero 9 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
e appare in numero 22 volte
  appare in numero 41 volte
n appare in numero 10 volte
u appare in numero 9 volte
m appare in numero 8 volte
b appare in numero 4 volte
e appare in numero 22 volte
r appare in numero 17 volte
  appare in numero 41 volte
a appare in numero 7 volte
n appare in numero 10 volte
d appare in numero 3 volte
  appare in numero 41 volte
f appare in numero 9 volte
o appare in numero 13 volte
r appare in numero 17 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
e appare in numero 22 volte
  appare in numero 41 volte
m appare in numero 8 volte
u appare in numero 9 volte
l appare in numero 6 volte
t appare in numero 19 volte
i appare in numero 14 volte
p appare in numero 8 volte
l appare in numero 6 volte
e appare in numero 22 volte
s appare in numero 9 volte
  appare in numero 41 volte
o appare in numero 13 volte
f appare in numero 9 volte
  appare in numero 41 volte
f appare in numero 9 volte
i appare in numero 14 volte
v appare in numero 2 volte
e appare in numero 22 volte
  appare in numero 41 volte
p appare in numero 8 volte
r appare in numero 17 volte
i appare in numero 14 volte
n appare in numero 10 volte
t appare in numero 19 volte
  appare in numero 41 volte
M appare in numero 4 volte
o appare in numero 13 volte
u appare in numero 9 volte
s appare in numero 9 volte
e appare in numero 22 volte
. appare in numero 2 volte
  appare in numero 41 volte
F appare in numero 1 volte
o appare in numero 13 volte
r appare in numero 17 volte
  appare in numero 41 volte
n appare in numero 10 volte
u appare in numero 9 volte
m appare in numero 8 volte
b appare in numero 4 volte
e appare in numero 22 volte
r appare in numero 17 volte
s appare in numero 9 volte
  appare in numero 41 volte
w appare in numero 1 volte
h appare in numero 9 volte
i appare in numero 14 volte
c appare in numero 3 volte
h appare in numero 9 volte
  appare in numero 41 volte
a appare in numero 7 volte
r appare in numero 17 volte
e appare in numero 22 volte
  appare in numero 41 volte
m appare in numero 8 volte
u appare in numero 9 volte
l appare in numero 6 volte
t appare in numero 19 volte
i appare in numero 14 volte
p appare in numero 8 volte
l appare in numero 6 volte
e appare in numero 22 volte
s appare in numero 9 volte
  appare in numero 41 volte
o appare in numero 13 volte
f appare in numero 9 volte
  appare in numero 41 volte
b appare in numero 4 volte
o appare in numero 13 volte
t appare in numero 19 volte
h appare in numero 9 volte
  appare in numero 41 volte
t appare in numero 19 volte
h appare in numero 9 volte
r appare in numero 17 volte
e appare in numero 22 volte
e appare in numero 22 volte
  appare in numero 41 volte
a appare in numero 7 volte
n appare in numero 10 volte
d appare in numero 3 volte
  appare in numero 41 volte
f appare in numero 9 volte
i appare in numero 14 volte
v appare in numero 2 volte
e appare in numero 22 volte
  appare in numero 41 volte
p appare in numero 8 volte
r appare in numero 17 volte
i appare in numero 14 volte
n appare in numero 10 volte
t appare in numero 19 volte
  appare in numero 41 volte
M appare in numero 4 volte
i appare in numero 14 volte
c appare in numero 3 volte
k appare in numero 2 volte
e appare in numero 22 volte
y appare in numero 2 volte
M appare in numero 4 volte
o appare in numero 13 volte
u appare in numero 9 volte
s appare in numero 9 volte
e appare in numero 22 volte

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

for i in range (0, len(l)):
    if counter(l,l[i]) == 1:
        print("Il numero che appare una sola volta è ", l[i])

Il numero che appare una sola volta è  58
Il numero che appare una sola volta è  74
Il numero che appare una sola volta è  96
Il numero che appare una sola volta è  64
Il numero che appare una sola volta è  10
Il numero che appare una sola volta è  24
Il numero che appare una sola volta è  19
Il numero che appare una sola volta è  33
Il numero che appare una sola volta è  86
Il numero che appare una sola volta è  99
Il numero che appare una sola volta è  18
Il numero che appare una sola volta è  47
Il numero che appare una sola volta è  88
Il numero che appare una sola volta è  55
Il numero che appare una sola volta è  54
Il numero che appare una sola volta è  8
Il numero che appare una sola volta è  79
Il numero che appare una sola volta è  81
Il numero che appare una sola volta è  57
Il numero che appare una sola volta è  37
Il numero che appare una sola volta è  1
Il numero che appare una sola volta è  9
Il numero che appare una sola volta è  95
Il numero che appare una sola volta è  90
Il numero che appare una sola volta è  98
Il numero che appare una sola volta è  39
Il numero che appare una sola volta è  16
Il numero che appare una sola volta è  82
Il numero che appare una sola volta è  92
Il numero che appare una sola volta è  41
Il numero che appare una sola volta è  30
Il numero che appare una sola volta è  94
Il numero che appare una sola volta è  5
Il numero che appare una sola volta è  72
Il numero che appare una sola volta è  87
Il numero che appare una sola volta è  75
Il numero che appare una sola volta è  53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
#forse si intendeva elevato alla quinta, però lo eleviamo alla sesta lo stesso usando le due funzioni
def square(a):
    return a**2
def cube(a):
    return a**3

def sixth(a):
    return (square(a)*cube(a)*square(a)*cube(a)/square(a)/square(a)) #qui infatti si è fatto un giro inutile

n = float(input("Inserisci un numero "))
print ("Il quadrato del numero è ", square(n))
print ("Il cubo del numero è ", cube(n))
print ("L'elevamentoe alla sesta è ", sixth(n))

Inserisci un numero 8
Il quadrato del numero è  64.0
Il cubo del numero è  512.0
L'elevamentoe alla sesta è  262144.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [8]:
#for loop 

print("For Loop")

for x in range (0,10):
    print (cube(x))
    
#List comprehnsion

print("List comprehnsion")

cubes = []

for i in range(0,10):
    cubes.append(cube(i))
    
print (cubes)

For Loop
0
1
8
27
64
125
216
343
512
729
List comprehnsion
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
tupla = []
for a in range(1,101):
    for b in range(1,101):
        for c in range(1,101):
            if square(a)+square(b) == square(c):
                if a < b: #per evitare ripetizioni 
                    print(a,b,c)
                    tupla.append(a)
                    tupla.append(b)
                    tupla.append(c)

print(tupla)

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 16 20
12 35 37
13 84 85
14 48 50
15 20 25
15 36 39
16 30 34
16 63 65
18 24 30
18 80 82
20 21 29
20 48 52
21 28 35
21 72 75
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 45 53
28 96 100
30 40 50
30 72 78
32 60 68
33 44 55
33 56 65
35 84 91
36 48 60
36 77 85
39 52 65
39 80 89
40 42 58
40 75 85
42 56 70
45 60 75
48 55 73
48 64 80
51 68 85
54 72 90
57 76 95
60 63 87
60 80 100
65 72 97
[3, 4, 5, 5, 12, 13, 6, 8, 10, 7, 24, 25, 8, 15, 17, 9, 12, 15, 9, 40, 41, 10, 24, 26, 11, 60, 61, 12, 16, 20, 12, 35, 37, 13, 84, 85, 14, 48, 50, 15, 20, 25, 15, 36, 39, 16, 30, 34, 16, 63, 65, 18, 24, 30, 18, 80, 82, 20, 21, 29, 20, 48, 52, 21, 28, 35, 21, 72, 75, 24, 32, 40, 24, 45, 51, 24, 70, 74, 25, 60, 65, 27, 36, 45, 28, 45, 53, 28, 96, 100, 30, 40, 50, 30, 72, 78, 32, 60, 68, 33, 44, 55, 33, 56, 65, 35, 84, 91, 36, 48, 60, 36, 77, 85, 39, 52, 65, 39, 80, 89, 40, 42, 58, 40, 75, 85, 42, 56, 70, 45, 60, 75, 48, 55, 73, 48, 64, 80, 51, 68, 85, 54, 72, 90, 57, 76, 95, 60, 63, 87, 60, 80, 100, 65, 72, 97]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
g = []

def normalization(l):
    import math
    
    for i in range(0,len(l)):
        sum = 0
        sum = sum + (l[i])**2
    
    
    sqrsum = math.sqrt(sum)
    
    for i in range(0,len(l)):
        g.append(l[i]/sqrsum)
    
    return g


print (tupla)
print ("Normalizzazione")
print (normalization(tupla))

[3, 4, 5, 5, 12, 13, 6, 8, 10, 7, 24, 25, 8, 15, 17, 9, 12, 15, 9, 40, 41, 10, 24, 26, 11, 60, 61, 12, 16, 20, 12, 35, 37, 13, 84, 85, 14, 48, 50, 15, 20, 25, 15, 36, 39, 16, 30, 34, 16, 63, 65, 18, 24, 30, 18, 80, 82, 20, 21, 29, 20, 48, 52, 21, 28, 35, 21, 72, 75, 24, 32, 40, 24, 45, 51, 24, 70, 74, 25, 60, 65, 27, 36, 45, 28, 45, 53, 28, 96, 100, 30, 40, 50, 30, 72, 78, 32, 60, 68, 33, 44, 55, 33, 56, 65, 35, 84, 91, 36, 48, 60, 36, 77, 85, 39, 52, 65, 39, 80, 89, 40, 42, 58, 40, 75, 85, 42, 56, 70, 45, 60, 75, 48, 55, 73, 48, 64, 80, 51, 68, 85, 54, 72, 90, 57, 76, 95, 60, 63, 87, 60, 80, 100, 65, 72, 97]
Normalizzazione
[0.030927835051546393, 0.041237113402061855, 0.05154639175257732, 0.05154639175257732, 0.12371134020618557, 0.13402061855670103, 0.061855670103092786, 0.08247422680412371, 0.10309278350515463, 0.07216494845360824, 0.24742268041237114, 0.25773195876288657, 0.08247422680412371, 0.15463917525773196, 0.17525773195876287, 0.09278350515463918, 0.12371134020618557, 0.15463917525773196, 0.09278350515463918, 0.41237113402061853, 0.422680412371134, 0.10309278350515463, 0.24742268041237114, 0.26804123711340205, 0.1134020618556701, 0.6185567010309279, 0.6288659793814433, 0.12371134020618557, 0.16494845360824742, 0.20618556701030927, 0.12371134020618557, 0.36082474226804123, 0.38144329896907214, 0.13402061855670103, 0.865979381443299, 0.8762886597938144, 0.14432989690721648, 0.4948453608247423, 0.5154639175257731, 0.15463917525773196, 0.20618556701030927, 0.25773195876288657, 0.15463917525773196, 0.3711340206185567, 0.4020618556701031, 0.16494845360824742, 0.30927835051546393, 0.35051546391752575, 0.16494845360824742, 0.6494845360824743, 0.6701030927835051, 0.18556701030927836, 0.24742268041237114, 0.30927835051546393, 0.18556701030927836, 0.8247422680412371, 0.845360824742268, 0.20618556701030927, 0.21649484536082475, 0.29896907216494845, 0.20618556701030927, 0.4948453608247423, 0.5360824742268041, 0.21649484536082475, 0.28865979381443296, 0.36082474226804123, 0.21649484536082475, 0.7422680412371134, 0.7731958762886598, 0.24742268041237114, 0.32989690721649484, 0.41237113402061853, 0.24742268041237114, 0.4639175257731959, 0.5257731958762887, 0.24742268041237114, 0.7216494845360825, 0.7628865979381443, 0.25773195876288657, 0.6185567010309279, 0.6701030927835051, 0.27835051546391754, 0.3711340206185567, 0.4639175257731959, 0.28865979381443296, 0.4639175257731959, 0.5463917525773195, 0.28865979381443296, 0.9896907216494846, 1.0309278350515463, 0.30927835051546393, 0.41237113402061853, 0.5154639175257731, 0.30927835051546393, 0.7422680412371134, 0.8041237113402062, 0.32989690721649484, 0.6185567010309279, 0.7010309278350515, 0.3402061855670103, 0.4536082474226804, 0.5670103092783505, 0.3402061855670103, 0.5773195876288659, 0.6701030927835051, 0.36082474226804123, 0.865979381443299, 0.9381443298969072, 0.3711340206185567, 0.4948453608247423, 0.6185567010309279, 0.3711340206185567, 0.7938144329896907, 0.8762886597938144, 0.4020618556701031, 0.5360824742268041, 0.6701030927835051, 0.4020618556701031, 0.8247422680412371, 0.9175257731958762, 0.41237113402061853, 0.4329896907216495, 0.5979381443298969, 0.41237113402061853, 0.7731958762886598, 0.8762886597938144, 0.4329896907216495, 0.5773195876288659, 0.7216494845360825, 0.4639175257731959, 0.6185567010309279, 0.7731958762886598, 0.4948453608247423, 0.5670103092783505, 0.7525773195876289, 0.4948453608247423, 0.6597938144329897, 0.8247422680412371, 0.5257731958762887, 0.7010309278350515, 0.8762886597938144, 0.5567010309278351, 0.7422680412371134, 0.9278350515463918, 0.5876288659793815, 0.7835051546391752, 0.979381443298969, 0.6185567010309279, 0.6494845360824743, 0.8969072164948454, 0.6185567010309279, 0.8247422680412371, 1.0309278350515463, 0.6701030927835051, 0.7422680412371134, 1.0]