1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

### 1a)

In [2]:
def mickeymouse():
        l = [None]*100 # Generate a list of 100 None's
        for i in range(1, 101):
            if(i%3 == 0 and i%5 == 0):
                l[i-1] = 'MickeyMouse'
            elif(i%3 == 0):
                l[i-1] = "Mickey"
            elif(i%5 == 0):
                l[i-1] = "Mouse"
            else:
                l[i-1] = i
        return l
    
mickeymouse()

[1,
 2,
 'Mickey',
 4,
 'Mouse',
 'Mickey',
 7,
 8,
 'Mickey',
 'Mouse',
 11,
 'Mickey',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Mickey',
 19,
 'Mouse',
 'Mickey',
 22,
 23,
 'Mickey',
 'Mouse',
 26,
 'Mickey',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Mickey',
 34,
 'Mouse',
 'Mickey',
 37,
 38,
 'Mickey',
 'Mouse',
 41,
 'Mickey',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Mickey',
 49,
 'Mouse',
 'Mickey',
 52,
 53,
 'Mickey',
 'Mouse',
 56,
 'Mickey',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Mickey',
 64,
 'Mouse',
 'Mickey',
 67,
 68,
 'Mickey',
 'Mouse',
 71,
 'Mickey',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Mickey',
 79,
 'Mouse',
 'Mickey',
 82,
 83,
 'Mickey',
 'Mouse',
 86,
 'Mickey',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Mickey',
 94,
 'Mouse',
 'Mickey',
 97,
 98,
 'Mickey',
 'Mouse']

### 1b)

In [4]:
# Tuples are immutable, therefore individual elements cannot be altered. 
# The following code does the substitution with a list first and then converts the result to a tuple"

# Loop over each element in the list l and replace \n",
l = mickeymouse()
for i in range(len(l)):
    if(l[i] == "Mickey"): l[i] = "Donald"
    elif(l[i] == "Mouse"): l[i] = "Duck"
l

[1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
def swap(x, y):
    return (y, x)
swap(5, 'hi')

('hi', 5)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [6]:
def distance(u, v):
    # returns the distance between 2D tuples u and v
    return ((u[0] - v[0])**2 + (u[1]**2 + v[1]**2))**.5
distance((3, 0), (0, 4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [7]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [8]:
def countChars(s):
    #Takes input string s and returns the count of each character
    s = s.lower()
    
    dic = dict()
    for char in s:
        if(char not in dic):
            # If the character has not been seen yet, add it to the dictionary with a count of 1\n",
            dic[char] = 1
        elif(char in dic):
            # If the character is in the dictionary, add 1 to the count
            dic[char] += 1
    return dic

countChars(s)

{'w': 2,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 12,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 5,
 'f': 10,
 '1': 2,
 '0': 2,
 '.': 2,
 'l': 6,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [2]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [18]:
def unique(l):
    #Takes a list of integers l, and returns a list of the unique numbers and how many unique numbers there are
    seenOnce = set()
    seenMore = set()
    
    for num in l:
        if num in seenOnce:
            seenMore.add(num)
        elif num not in seenOnce:
            seenOnce.add(num)
    Unique = set(l) - seenMore    
    return (Unique, len(Unique))
    
setOfUniqueNums, lenOfUniqueNums = unique(l)
print(f'The count of unique numbers in l is {lenOfUniqueNums} and the set of those numbers is {setOfUniqueNums}')

The count of unique numbers in l is 37 and the set of those numbers is {1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(n):
    return n**2

def cube(n):
    return n**3

def raiseToSixthPower(n):
    return square(cube(n))

def test6():
    assert(raiseToSixthPower(2) == 64)
    assert(raiseToSixthPower(3) == 729)
    assert(raiseToSixthPower(5) == 15625)
    print("Test6 passed!")

test6()

Test6 passed!

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

### 7a)

In [7]:
cubeListA = list()
for x in range(11):
    cubeListA.append(x**3)
print(cubeListA)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 7b)

In [8]:
cubelistB = [x**3 for x in range(11)]
print(cubelistB)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
triples = [(a, b, c) for a in range(100) for b in range(100) for c in range(100) if a**2+b**2==c**2 and a<b and b<c]
print(triples)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
def normalize(v):
    sumOfSquares = 0
    for component in v:
        sumOfSquares += component**2
    magnitude = sumOfSquares**.5
    
    return [comp/magnitude for comp in v]

def test9():
    assert(normalize((3, 4)) == [0.6, 0.8])
    assert(normalize((5, 12)) == [5/13, 12/13])
    assert(normalize((65, 72)) == [65/97, 72/97])
    print("Test passed!")

test9()

Test passed!