1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
a = []
for i in range (1,101): # from 1 to 100
    if (i%3==0) and (i%5==0):
        a.append("MickeyMouse")
    elif (i%3==0):
        a.append("Mickey")
    elif (i%5==0):
        a.append("Mouse")
    else:
        a.append(str(i))

print(a)

for i in range (0,len(a)):
    if a[i] == "Mickey":
        a[i] = "Donald"
    elif a[i] == "Mouse":
        a[i] = "Duck"
    elif a[i] == "MickeyMouse":
        a[i] = "DonaldDuck"

b = tuple(a)
print(b)

['1', '2', 'Mickey', '4', 'Mouse', 'Mickey', '7', '8', 'Mickey', 'Mouse', '11', 'Mickey', '13', '14', 'MickeyMouse', '16', '17', 'Mickey', '19', 'Mouse', 'Mickey', '22', '23', 'Mickey', 'Mouse', '26', 'Mickey', '28', '29', 'MickeyMouse', '31', '32', 'Mickey', '34', 'Mouse', 'Mickey', '37', '38', 'Mickey', 'Mouse', '41', 'Mickey', '43', '44', 'MickeyMouse', '46', '47', 'Mickey', '49', 'Mouse', 'Mickey', '52', '53', 'Mickey', 'Mouse', '56', 'Mickey', '58', '59', 'MickeyMouse', '61', '62', 'Mickey', '64', 'Mouse', 'Mickey', '67', '68', 'Mickey', 'Mouse', '71', 'Mickey', '73', '74', 'MickeyMouse', '76', '77', 'Mickey', '79', 'Mouse', 'Mickey', '82', '83', 'Mickey', 'Mouse', '86', 'Mickey', '88', '89', 'MickeyMouse', '91', '92', 'Mickey', '94', 'Mouse', 'Mickey', '97', '98', 'Mickey', 'Mouse']
('1', '2', 'Donald', '4', 'Duck', 'Donald', '7', '8', 'Donald', 'Duck', '11', 'Donald', '13', '14', 'DonaldDuck', '16', '17', 'Donald', '19', 'Duck', 'Donald', '22', '23', 'Donald', 'Duck', '26', 'Donald', '28', '29', 'DonaldDuck', '31', '32', 'Donald', '34', 'Duck', 'Donald', '37', '38', 'Donald', 'Duck', '41', 'Donald', '43', '44', 'DonaldDuck', '46', '47', 'Donald', '49', 'Duck', 'Donald', '52', '53', 'Donald', 'Duck', '56', 'Donald', '58', '59', 'DonaldDuck', '61', '62', 'Donald', '64', 'Duck', 'Donald', '67', '68', 'Donald', 'Duck', '71', 'Donald', '73', '74', 'DonaldDuck', '76', '77', 'Donald', '79', 'Duck', 'Donald', '82', '83', 'Donald', 'Duck', '86', 'Donald', '88', '89', 'DonaldDuck', '91', '92', 'Donald', '94', 'Duck', 'Donald', '97', '98', 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap1 (x, y): # swap function with temp variable
    temp = x
    x = y
    y = temp
    return x, y

def swap2 (x, y): # swap function without temp variable
    r = []
    r.append(x)
    r.append(y)
    r.reverse()
    return r

a = input()
b = input()
c = swap2(a,b)
print(c)

4
0
['0', '4']

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
from math import sqrt
def distance (p1, p2):
    dx = p1[0]-p2[0]
    dy = p1[1]-p2[1]
    r = sqrt(dx**2+dy**2)
    return r

print("insert u1:")
u1 = input()
print("insert u2:")
u2 = input()
print("insert v1:")
v1 = input()
print("insert v2:")
v2 = input()
u = (float(u1),float(u2)) # input gives string type
v = (float(v1),float(v2))
print("the distance is: ", distance(u,v))

insert u1:
0
insert u2:
3
insert v1:
4
insert v2:
0
the distance is:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

counts = [0]*26 # list of 26 zeros

for i in range (0,len(s)):
    if (s[i].lower()).isalpha() is True: # if an element of s is a character, the count for the specific letter increase
        counts[alphabet.index(s[i].lower())] += 1
for i in range (0,len(alphabet)):
    print(alphabet[i], counts[i])

a 7
b 5
c 3
d 3
e 22
f 10
g 1
h 9
i 14
j 0
k 2
l 6
m 12
n 10
o 13
p 8
q 0
r 17
s 9
t 19
u 9
v 2
w 2
x 0
y 2
z 0

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [5]:
def unique (l):
    s = l # use of an alias s for l
    i = 0
    while i<len(s):
        elim = [] # list of repeated objects
        for j in range (0,len(s)):
            if (s[j]==s[i]) and (i!=j):
                elim.append(j) 
        if len(elim) > 0:
            elim.append(i) 
            elim.sort(reverse=True)
            for k in range (0,len(elim)):
                del s[elim[k]] # delete the i-esime object and its repeatitions from list s
                i = 0 # restart the counting from the beginning of s
        else:
            i+=1
        elim.clear()
    return s

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88,55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

lista = unique(l)
print(lista)
print("There are", len(lista), "uniques")

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
There are 37 uniques

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def squared (x):
    return x**2

def cubed (x):
    return x**3 

def sixed (x):
    return cubed(squared(x))

a = 3
print(sixed(a))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
a = []
for i in range (0,11):
    a.append(i**3)

print(a)

b = [x**3 for x in range (0,11)]

print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
lst = []
N = 100
n = 2
from math import sqrt
for i in range (1,N):
    for j in range (1,i):
        c2 = i**n + j**n
        for k in range (1,N):
            if k**n == c2:
                lst.append([i,j,k])
l = tuple(lst)
print(l)

([4, 3, 5], [8, 6, 10], [12, 5, 13], [12, 9, 15], [15, 8, 17], [16, 12, 20], [20, 15, 25], [21, 20, 29], [24, 7, 25], [24, 10, 26], [24, 18, 30], [28, 21, 35], [30, 16, 34], [32, 24, 40], [35, 12, 37], [36, 15, 39], [36, 27, 45], [40, 9, 41], [40, 30, 50], [42, 40, 58], [44, 33, 55], [45, 24, 51], [45, 28, 53], [48, 14, 50], [48, 20, 52], [48, 36, 60], [52, 39, 65], [55, 48, 73], [56, 33, 65], [56, 42, 70], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [63, 16, 65], [63, 60, 87], [64, 48, 80], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [84, 13, 85], [84, 35, 91])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
from math import sqrt
def normalizer (vector):
    somma = 0
    lst = []
    for i in range (0,len(vector)):
        somma += vector[i]**2
    for i in range (0,len(vector)):
        lst.append(vector[i]/sqrt(somma))
    x = tuple(lst)
    return x

vett = (1,1,1,1)
vettnorm = normalizer(vett)
print(vettnorm)

(0.5, 0.5, 0.5, 0.5)