# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [20]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-2] #le parentesi quadre per selezionare alcuni dati non tutti
print(s)

a    0.836387
b   -2.189859
c    0.366036
d   -0.292506
e   -0.264797
dtype: float64
a         NaN
b   -4.379718
c    0.732072
d         NaN
e         NaN
dtype: float64

In [29]:
d=pd.Series(np.zeros(4),index=tuple(letters[:4]))
print(d)

a    0.0
b    0.0
c    0.0
d    0.0
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2021,11,22,12,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 22 2021'
# or alternatively
date = '22/11/2021 12:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2021-11-22
2021-11-22 12:45:10.000015
22/11/2021 12:45:00
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-23 12:45:00',
               '2021-11-24 12:45:00', '2021-11-25 12:45:00',
               '2021-11-26 12:45:00', '2021-11-27 12:45:00',
               '2021-11-28 12:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-11-22 12:45:00', '2021-11-22 12:45:01',
               '2021-11-22 12:45:02', '2021-11-22 12:45:03',
               '2021-11-22 12:45:04', '2021-11-22 12:45:05',
               '2021-11-22 12:45:06', '2021-11-22 12:45:07',
               '2021-11-22 12:45:08', '2021-11-22 12:45:09',
               ...
               '2021-11-22 13:44:50', '2021-11-22 13:44:51',
               '2021-11-22 13:44:52', '2021-11-22 13:44:53',
               '2021-11-22 13:44:54', '2021-11-22 13:44:55',
               '2021-11-22 13:44:56', '2021-11-22 13:44:57',
               '2021-11-22 13:44:58', '2021-11-22 13:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases.

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [33]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2021-11-22':'2021-11-23'], '\n') # Note - includes end time

2021-11-22 12:45:00    10.204797
2021-11-23 12:45:00     9.715518
2021-11-24 12:45:00    10.454347
2021-11-25 12:45:00    10.440148
Freq: D, dtype: float64

2021-11-22 12:45:00    10.204797
2021-11-23 12:45:00     9.715518
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [34]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [48]:
entries=10
dates=pd.date_range('11/22/2021 12:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,5), index=dates, columns=['A','B','C','D','E'])
df

                            A         B         C         D         E
2021-11-22 12:45:00 -0.005539  0.916276  0.729500 -0.682774  0.659238
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380 -0.481923  0.031090
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  0.478623 -0.546669
2021-11-22 15:45:00  0.931970 -0.018753  0.640006 -1.711295  0.955897
2021-11-22 16:45:00 -1.055401  0.092514  1.505273 -0.152433 -0.287535
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139  1.799443 -0.145810
2021-11-22 18:45:00  3.275895  0.415398  0.586598 -0.221276 -2.266604
2021-11-22 19:45:00 -2.323758  0.187668 -0.389122 -1.181881 -0.348506
2021-11-22 20:45:00  0.044987  0.159363  0.792893  0.899906 -0.438422
2021-11-22 21:45:00  1.062412 -0.310454 -0.087725 -1.161905 -0.482732

or by means of a dictionary:

In [54]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [55]:
df.head(2)

                            A         B        C         D         E
2021-11-22 12:45:00 -0.005539  0.916276  0.72950 -0.682774  0.659238
2021-11-22 13:45:00 -1.230810 -0.347606  0.18538 -0.481923  0.031090

In [56]:
df.tail(4)

                            A         B         C         D         E
2021-11-22 18:45:00  3.275895  0.415398  0.586598 -0.221276 -2.266604
2021-11-22 19:45:00 -2.323758  0.187668 -0.389122 -1.181881 -0.348506
2021-11-22 20:45:00  0.044987  0.159363  0.792893  0.899906 -0.438422
2021-11-22 21:45:00  1.062412 -0.310454 -0.087725 -1.161905 -0.482732

In [57]:
df.index

DatetimeIndex(['2021-11-22 12:45:00', '2021-11-22 13:45:00',
               '2021-11-22 14:45:00', '2021-11-22 15:45:00',
               '2021-11-22 16:45:00', '2021-11-22 17:45:00',
               '2021-11-22 18:45:00', '2021-11-22 19:45:00',
               '2021-11-22 20:45:00', '2021-11-22 21:45:00'],
              dtype='datetime64[ns]', freq='H')

In [58]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [59]:
df.values

array([[-5.53920952e-03,  9.16275623e-01,  7.29499955e-01,
        -6.82773591e-01,  6.59237765e-01],
       [-1.23081026e+00, -3.47605679e-01,  1.85380161e-01,
        -4.81923039e-01,  3.10895840e-02],
       [-5.98635802e-01, -3.24689451e-03, -1.58328717e+00,
         4.78622823e-01, -5.46668978e-01],
       [ 9.31970210e-01, -1.87528123e-02,  6.40005611e-01,
        -1.71129515e+00,  9.55897420e-01],
       [-1.05540069e+00,  9.25141610e-02,  1.50527256e+00,
        -1.52432936e-01, -2.87535074e-01],
       [-2.34848023e+00, -3.97368567e-01, -5.71393143e-02,
         1.79944285e+00, -1.45810021e-01],
       [ 3.27589531e+00,  4.15398066e-01,  5.86598353e-01,
        -2.21276295e-01, -2.26660362e+00],
       [-2.32375843e+00,  1.87667730e-01, -3.89122373e-01,
        -1.18188139e+00, -3.48505736e-01],
       [ 4.49866655e-02,  1.59362550e-01,  7.92892979e-01,
         8.99905984e-01, -4.38422153e-01],
       [ 1.06241164e+00, -3.10453854e-01, -8.77250796e-02,
        -1.16190496e+00, -4.82731789e-01]])

In [60]:
df.describe()

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.224736   0.069379   0.232238  -0.241552  -0.287005
std     1.703855   0.395619   0.839616   1.061417   0.857163
min    -2.348480  -0.397369  -1.583287  -1.711295  -2.266604
25%    -1.186958  -0.237529  -0.080079  -1.042122  -0.471654
50%    -0.302088   0.044634   0.385989  -0.351600  -0.318020
75%     0.710224   0.180591   0.707126   0.320859  -0.013135
max     3.275895   0.916276   1.505273   1.799443   0.955897

In [61]:
df.T

,2021-11-22 12:45:00,2021-11-22 13:45:00,2021-11-22 14:45:00,2021-11-22 15:45:00,2021-11-22 16:45:00,2021-11-22 17:45:00,2021-11-22 18:45:00,2021-11-22 19:45:00,2021-11-22 20:45:00,2021-11-22 21:45:00
A,-0.005539,-1.230810,-0.598636,0.931970,-1.055401,-2.348480,3.275895,-2.323758,0.044987,1.062412
B,0.916276,-0.347606,-0.003247,-0.018753,0.092514,-0.397369,0.415398,0.187668,0.159363,-0.310454
C,0.729500,0.185380,-1.583287,0.640006,1.505273,-0.057139,0.586598,-0.389122,0.792893,-0.087725
D,-0.682774,-0.481923,0.478623,-1.711295,-0.152433,1.799443,-0.221276,-1.181881,0.899906,-1.161905
E,0.659238,0.031090,-0.546669,0.955897,-0.287535,-0.145810,-2.266604,-0.348506,-0.438422,-0.482732

In [44]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2021-11-22 12:45:00 -0.833384  2.438768  1.117962 -0.166207
2021-11-22 13:45:00  0.190264  0.038067 -0.314586  0.646745
2021-11-22 14:45:00  0.576159  1.071409  0.341495 -0.698146
2021-11-22 15:45:00  1.636349  0.655467  1.266869  0.917125
2021-11-22 16:45:00  1.218608  0.301779  0.764562 -0.443183
2021-11-22 17:45:00 -0.090766 -0.258131  0.316990 -1.272700
2021-11-22 18:45:00 -0.974680 -0.347049 -0.510849  0.650374
2021-11-22 19:45:00  1.446353 -2.218188 -0.467794  0.601844
2021-11-22 20:45:00  1.008954 -0.077344 -0.555387  1.098902
2021-11-22 21:45:00 -0.855358 -0.170400  0.225060 -0.325012

In [45]:
df.sort_values(by="C")

                            A         B         C         D
2021-11-22 20:45:00  1.008954 -0.077344 -0.555387  1.098902
2021-11-22 18:45:00 -0.974680 -0.347049 -0.510849  0.650374
2021-11-22 19:45:00  1.446353 -2.218188 -0.467794  0.601844
2021-11-22 13:45:00  0.190264  0.038067 -0.314586  0.646745
2021-11-22 21:45:00 -0.855358 -0.170400  0.225060 -0.325012
2021-11-22 17:45:00 -0.090766 -0.258131  0.316990 -1.272700
2021-11-22 14:45:00  0.576159  1.071409  0.341495 -0.698146
2021-11-22 16:45:00  1.218608  0.301779  0.764562 -0.443183
2021-11-22 12:45:00 -0.833384  2.438768  1.117962 -0.166207
2021-11-22 15:45:00  1.636349  0.655467  1.266869  0.917125

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [63]:
#queste sono tutte serie

## standard and safe
print (df['A'],'\n') 

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2021-11-22 12:45:00   -0.005539
2021-11-22 13:45:00   -1.230810
2021-11-22 14:45:00   -0.598636
2021-11-22 15:45:00    0.931970
2021-11-22 16:45:00   -1.055401
2021-11-22 17:45:00   -2.348480
2021-11-22 18:45:00    3.275895
2021-11-22 19:45:00   -2.323758
2021-11-22 20:45:00    0.044987
2021-11-22 21:45:00    1.062412
Freq: H, Name: A, dtype: float64

2021-11-22 12:45:00   -0.005539
2021-11-22 13:45:00   -1.230810
2021-11-22 14:45:00   -0.598636
2021-11-22 15:45:00    0.931970
2021-11-22 16:45:00   -1.055401
2021-11-22 17:45:00   -2.348480
2021-11-22 18:45:00    3.275895
2021-11-22 19:45:00   -2.323758
2021-11-22 20:45:00    0.044987
2021-11-22 21:45:00    1.062412
Freq: H, Name: A, dtype: float64

In [64]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2021-11-22 12:45:00":"2021-11-22 14:45:00"])

                            A         B         C         D         E
2021-11-22 12:45:00 -0.005539  0.916276  0.729500 -0.682774  0.659238
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380 -0.481923  0.031090
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  0.478623 -0.546669
                            A         B         C         D         E
2021-11-22 12:45:00 -0.005539  0.916276  0.729500 -0.682774  0.659238
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380 -0.481923  0.031090
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  0.478623 -0.546669

### Selection by label

In [66]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -0.005539
B    0.916276
C    0.729500
D   -0.682774
E    0.659238
Name: 2021-11-22 12:45:00, dtype: float64

In [68]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

In [69]:
# showing label slicing, both endpoints are included:
df.loc['2021-11-22 16:45:00':'2021-11-22 18:45:00',['A','B']]

                            A         B
2021-11-22 16:45:00 -1.055401  0.092514
2021-11-22 17:45:00 -2.348480 -0.397369
2021-11-22 18:45:00  3.275895  0.415398

In [71]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A']) #bisogna usare le parentesi quadre

-1.230810255672769
-1.230810255672769

### Selecting by position

In [72]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.931970
B   -0.018753
C    0.640006
D   -1.711295
E    0.955897
Name: 2021-11-22 15:45:00, dtype: float64

                            A         B
2021-11-22 15:45:00  0.931970 -0.018753
2021-11-22 16:45:00 -1.055401  0.092514

In [73]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2021-11-22 13:45:00 -1.230810  0.185380
2021-11-22 14:45:00 -0.598636 -1.583287
2021-11-22 16:45:00 -1.055401  1.505273

In [74]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D         E
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380 -0.481923  0.031090
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  0.478623 -0.546669

                            B         C
2021-11-22 12:45:00  0.916276  0.729500
2021-11-22 13:45:00 -0.347606  0.185380
2021-11-22 14:45:00 -0.003247 -1.583287
2021-11-22 15:45:00 -0.018753  0.640006
2021-11-22 16:45:00  0.092514  1.505273
2021-11-22 17:45:00 -0.397369 -0.057139
2021-11-22 18:45:00  0.415398  0.586598
2021-11-22 19:45:00  0.187668 -0.389122
2021-11-22 20:45:00  0.159363  0.792893
2021-11-22 21:45:00 -0.310454 -0.087725

In [75]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.3476056786079648

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [76]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D         E
2021-11-22 12:45:00 -0.005539  0.916276  0.729500 -0.682774  0.659238
2021-11-22 16:45:00 -1.055401  0.092514  1.505273 -0.152433 -0.287535
2021-11-22 18:45:00  3.275895  0.415398  0.586598 -0.221276 -2.266604
2021-11-22 19:45:00 -2.323758  0.187668 -0.389122 -1.181881 -0.348506
2021-11-22 20:45:00  0.044987  0.159363  0.792893  0.899906 -0.438422

In [77]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D         E
2021-11-22 12:45:00       NaN  0.916276  0.729500       NaN  0.659238
2021-11-22 13:45:00       NaN       NaN  0.185380       NaN  0.031090
2021-11-22 14:45:00       NaN       NaN       NaN  0.478623       NaN
2021-11-22 15:45:00  0.931970       NaN  0.640006       NaN  0.955897
2021-11-22 16:45:00       NaN  0.092514  1.505273       NaN       NaN
2021-11-22 17:45:00       NaN       NaN       NaN  1.799443       NaN
2021-11-22 18:45:00  3.275895  0.415398  0.586598       NaN       NaN
2021-11-22 19:45:00       NaN  0.187668       NaN       NaN       NaN
2021-11-22 20:45:00  0.044987  0.159363  0.792893  0.899906       NaN
2021-11-22 21:45:00  1.062412       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [78]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [79]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.916276  0.729500  5  0.0        0  1.000000
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380  5  0.5        2  0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  5  1.0        4  0.999848
2021-11-22 15:45:00  0.931970 -0.018753  0.640006  5  1.5        6  0.999657
2021-11-22 16:45:00 -1.055401  0.092514  1.505273  5  2.0        8  0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139  5  2.5       10  0.999048
2021-11-22 18:45:00  3.275895  0.415398  0.586598  5  3.0       12  0.998630
2021-11-22 19:45:00 -2.323758  0.187668 -0.389122  5  3.5       14  0.998135
2021-11-22 20:45:00  0.044987  0.159363  0.792893  5  4.0       16  0.997564
2021-11-22 21:45:00  1.062412 -0.310454 -0.087725  5  4.5       18  0.996917

In [88]:
# another example of global setting
df2=df.copy()
df3=df

df2[df2>0] = -df2
df2

df3[df3>0] = -df3
df3

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -0.916276 -0.729500 -5  0.0        0 -1.000000
2021-11-22 13:45:00 -1.230810 -0.347606 -0.185380 -5 -0.5       -2 -0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287 -5 -1.0       -4 -0.999848
2021-11-22 15:45:00 -0.931970 -0.018753 -0.640006 -5 -1.5       -6 -0.999657
2021-11-22 16:45:00 -1.055401 -0.092514 -1.505273 -5 -2.0       -8 -0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -3.275895 -0.415398 -0.586598 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -2.323758 -0.187668 -0.389122 -5 -3.5      -14 -0.998135
2021-11-22 20:45:00 -0.044987 -0.159363 -0.792893 -5 -4.0      -16 -0.997564
2021-11-22 21:45:00 -1.062412 -0.310454 -0.087725 -5 -4.5      -18 -0.996917

In [81]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000  0.916276  0.729500  5  0.0        0  1.000000
2021-11-22 13:45:00 -1.230810 -0.347606  0.185380  5  0.5        2  0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287  5  1.0        4  0.999848
2021-11-22 15:45:00  0.931970 -0.018753  0.640006  5  1.5        6  0.999657
2021-11-22 16:45:00 -1.055401  0.092514  1.505273  5  2.0        8  0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139  5  2.5       10  0.999048
2021-11-22 18:45:00  3.275895  0.415398  0.586598  5  3.0       12  0.998630
2021-11-22 19:45:00 -2.323758  0.187668 -0.389122  5  3.5       14  0.998135
2021-11-22 20:45:00  0.044987  0.159363  0.792893  5  4.0       16  0.997564
2021-11-22 21:45:00  1.062412 -0.310454 -0.087725  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [89]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])  #per rednerlo permanente
new_df

                            A         B         C  D    E    cosine
2021-11-22 12:45:00  0.000000 -0.916276 -0.729500 -5  0.0 -1.000000
2021-11-22 13:45:00 -1.230810 -0.347606 -0.185380 -5 -0.5 -0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287 -5 -1.0 -0.999848
2021-11-22 15:45:00 -0.931970 -0.018753 -0.640006 -5 -1.5 -0.999657
2021-11-22 16:45:00 -1.055401 -0.092514 -1.505273 -5 -2.0 -0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139 -5 -2.5 -0.999048
2021-11-22 18:45:00 -3.275895 -0.415398 -0.586598 -5 -3.0 -0.998630
2021-11-22 19:45:00 -2.323758 -0.187668 -0.389122 -5 -3.5 -0.998135
2021-11-22 20:45:00 -0.044987 -0.159363 -0.792893 -5 -4.0 -0.997564
2021-11-22 21:45:00 -1.062412 -0.310454 -0.087725 -5 -4.5 -0.996917

In [90]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -0.916276 -0.729500 -5  0.0        0 -1.000000
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -3.275895 -0.415398 -0.586598 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -2.323758 -0.187668 -0.389122 -5 -3.5      -14 -0.998135
2021-11-22 20:45:00 -0.044987 -0.159363 -0.792893 -5 -4.0      -16 -0.997564
2021-11-22 21:45:00 -1.062412 -0.310454 -0.087725 -5 -4.5      -18 -0.996917

In [91]:
df

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -0.916276 -0.729500 -5  0.0        0 -1.000000
2021-11-22 13:45:00 -1.230810 -0.347606 -0.185380 -5 -0.5       -2 -0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287 -5 -1.0       -4 -0.999848
2021-11-22 15:45:00 -0.931970 -0.018753 -0.640006 -5 -1.5       -6 -0.999657
2021-11-22 16:45:00 -1.055401 -0.092514 -1.505273 -5 -2.0       -8 -0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -3.275895 -0.415398 -0.586598 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -2.323758 -0.187668 -0.389122 -5 -3.5      -14 -0.998135
2021-11-22 20:45:00 -0.044987 -0.159363 -0.792893 -5 -4.0      -16 -0.997564
2021-11-22 21:45:00 -1.062412 -0.310454 -0.087725 -5 -4.5      -18 -0.996917

In [92]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2021-11-22 20:45:00"))

                            A         B         C  D    E  E prime    cosine
2021-11-22 12:45:00  0.000000 -0.916276 -0.729500 -5  0.0        0 -1.000000
2021-11-22 13:45:00 -1.230810 -0.347606 -0.185380 -5 -0.5       -2 -0.999962
2021-11-22 14:45:00 -0.598636 -0.003247 -1.583287 -5 -1.0       -4 -0.999848
2021-11-22 15:45:00 -0.931970 -0.018753 -0.640006 -5 -1.5       -6 -0.999657
2021-11-22 16:45:00 -1.055401 -0.092514 -1.505273 -5 -2.0       -8 -0.999391
2021-11-22 17:45:00 -2.348480 -0.397369 -0.057139 -5 -2.5      -10 -0.999048
2021-11-22 18:45:00 -3.275895 -0.415398 -0.586598 -5 -3.0      -12 -0.998630
2021-11-22 19:45:00 -2.323758 -0.187668 -0.389122 -5 -3.5      -14 -0.998135
2021-11-22 21:45:00 -1.062412 -0.310454 -0.087725 -5 -4.5      -18 -0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
df_wNan = df[df>0]
df_wNan

In [ ]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

In [ ]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

In [ ]:
# filling missing data
df_wNan.fillna(value=0)

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [ ]:
df_wNan.fillna(method='pad')

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [ ]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

In [ ]:
# global operations on columns
df.apply(np.cumsum)

In [ ]:
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [ ]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
data['timens']

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')